<template>
  <json-view :parsedData="parsedData" v-model="parsedData" :is-edit="isEdit" />
</template>

<script>
import JsonView from "./JsonView.vue";

export default {
  name: "JsonEditor",
  props: {
    isEdit: {
      type: Boolean,
      default: true
    },
    objData: {
      type: Array,
      required: true
    },
    value: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      parsedData: []
    };
  },
  created() {
    this.lastParsedData = {};
    this.parsedData = this.jsonParse(this.objData);
  },
  watch: {
    parsedData: {
      handler(newValue) {
        if (JSON.stringify(newValue) === JSON.stringify(this.lastParsedData)) {
          return;
        }
        this.lastParsedData = newValue;
        this.$emit("input", this.lastParsedData);
      },
      deep: true
    }
  },
  components: {
    "json-view": JsonView
  },
  methods: {
    jsonParse(jsonStr) {
      return this.parseJson(jsonStr);
    },
    parseJson(json) {
      const result = [];
      json.forEach(k => {
        const opt = {
          name: k.name,
          type: k.type,
          subType: k.subType,
          isShown: true,
          isEdit: false,
          ruleSelected: k.ruleSelected === "True" ? "True" : "False",
          childParams: k.childParams ? this.parseJson(k.childParams) : []
        };
        result.push(opt);
      });
      return result;
    }
  }
};
</script>

<style lang="scss" scoped>
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
}

.block {
  position: relative;
  display: block;
  line-height: 30px;
}

.block.hide-block {
  background: #f5f5f5;

  .json-val {
    display: none;
  }

  .collapse-down {
    transform: rotate(-90deg);
  }
}

.tools {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
}

.tools-types {
  position: relative;
  right: 20px;
}

.del-btn {
  cursor: pointer;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.6;
  }
}

.dragbar {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  width: 5px;
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
}

.des {
  position: absolute;
  right: 14px;
  font-size: 10px;
  line-height: 30px;
  color: #6190e8;
  cursor: pointer;
}

.add-des {
  color: #999;
}

.block_content {
  text-align: left;
  margin-left: 20px;
  line-height: 1.5 !important;

  .i-type {
    color: #999;
  }

  .key-input,
  .val-input {
    width: 140px;
    border: none;
    height: 25px;
    padding: 0 5px;
    font-weight: bold;
    font-size: 14px;
    background: rgba(0, 0, 0, 0);

    &:focus {
      background: #ffffa0;
      border: none;
      outline: 0;
    }
  }

  .val-input {
    font-weight: normal;
    color: #0b8e6b;
  }
}

.block_content .json-key {
  font-weight: bold;

  &.json-desc {
    color: #999;
    font-size: 0.8em;
  }
}

.collopsed:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #333;
}

.collapse-down {
  float: left;
  color: #000;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.add-key {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 10px;
  font-size: 0.8em;
  line-height: 1em;
  cursor: pointer;
}

.array-ol {
  padding-left: 20px !important;
}

.array-item {
  position: relative;

  &.hide-item {
    background: #f5f5f5;

    .json-val {
      display: none;
    }

    .collapse-down {
      transform: rotate(-90deg);
      transition: transform 0.4s ease;
    }
  }
}
</style>
