<template>
  <div>
    <div v-for="(item, index) in flowData" :key="`${item.type}${index}`">
      <div class="f-row">
        <div class="f-nested" v-if="item.type === 'Object'">
          <div
            v-if="item.type === 'Object'"
            @click="toggleBlock(index, $event)"
          >
            <md-icon v-if="item.isShown">keyboard_arrow_down</md-icon>
            <md-icon v-else>keyboard_arrow_right</md-icon>
          </div>
        </div>
        <md-field
          class="f-input-block"
          :class="{ 'md-invalid': $v.flowData.$each[index].name.$error }"
          v-if="!isSubtype"
        >
          <label>Property Value</label>
          <md-input
            class="f-input"
            placeholder="Property Name"
            :disabled="!item.isEdit"
            type="text"
            v-model="item.name"
          />
          <span class="md-error" v-if="$v.flowData.$each[index].name.$error">
            The Name is required
          </span>
        </md-field>
        <md-field
          class="f-input-block"
          :class="{ 'md-invalid': $v.flowData.$each[index].type.$error }"
        >
          <label>Property Type</label>
          <md-select
            :disabled="!item.isEdit"
            v-model="item.type"
            class="f-input"
            placeholder="Type"
            @md-selected="itemTypeChange(item)"
          >
            <md-option
              class="f-input"
              v-for="(item, index) in formats"
              :value="item"
              :key="index"
            >
              {{ item }}
            </md-option>
          </md-select>
          <span class="md-error" v-if="$v.flowData.$each[index].type.$error">
            The Type is required
          </span>
        </md-field>
        <md-field
          v-if="item.type === 'Array'"
          class="f-input-block"
          :class="{ 'md-invalid': $v.flowData.$each[index].subType.$error }"
        >
          <label>Elements Type</label>
          <md-select
            v-model="item.subType"
            :disabled="!item.isEdit"
            class="f-input"
            placeholder="Elements Type"
            @md-selected="arrayElementTypeChange(item)"
          >
            <md-option
              class="f-input"
              v-for="(item, index) in formats"
              :value="item"
              :key="index"
            >
              {{ item }}
            </md-option>
          </md-select>
          <span class="md-error" v-if="$v.flowData.$each[index].subType.$error">
            The Elements Type is required
          </span>
        </md-field>
        <md-field
          class="f-input-block"
          :class="{
            'md-invalid': $v.flowData.$each[index].ruleSelected.$error
          }"
          style="max-width: 150px"
          v-if="!isSubtype"
        >
          <label>Is Required</label>
          <md-select
            :disabled="!item.isEdit"
            v-model="item.ruleSelected"
            class="f-input"
            placeholder="Is Required"
          >
            <md-option
              class="f-input"
              v-for="(item, index) in rules"
              :value="item"
              :key="index"
            >
              {{ item }}
            </md-option>
          </md-select>
          <span
            class="md-error"
            v-if="$v.flowData.$each[index].ruleSelected.$error"
          >
            The validation is required
          </span>
        </md-field>
        <md-field class="f-buttons">
          <div class="f-button-wrapper">
            <i v-if="!item.isEdit && isEdit" @click="triggerEdit(index)">
              <md-icon class="md-primary">edit</md-icon>
            </i>
            <i v-else-if="item.isEdit" @click="updateItem(index)">
              <md-icon class="md-primary">check_box</md-icon>
            </i>
            <template v-if="!isSubtype">
              <i
                v-if="isEdit"
                class="del-btn"
                @click="delItem(parsedData, item, index)"
              >
                <md-icon class="md-accent">delete</md-icon>
              </i>
            </template>
          </div>
        </md-field>
      </div>
      <div
        v-if="showSubItems(item)"
        class="f-sub-item"
        :style="{ marginTop: item.subType ? '8px' : '0px' }"
      >
        <json-view
          :parsedData="item.childParams"
          v-model="item.childParams"
          :child-level="childLevel + 1"
          :is-subtype="item.type === 'Array'"
          :is-edit="item.isEdit"
        >
        </json-view>
      </div>
    </div>

    <div
      class="f-add-key"
      @click="addItem"
      v-if="!toAddItem && !isSubtype && isEdit"
    >
      <md-icon class="md-primary">add</md-icon>
    </div>
  </div>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";

export default {
  name: "JsonView",
  props: {
    parsedData: {
      type: Array,
      default: () => []
    },
    childLevel: {
      type: Number,
      default: 0
    },
    isSubtype: {
      type: Boolean,
      default: false
    },
    isEdit: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      formats: ["String", "Array", "Object", "Number", "Boolean"],
      rules: ["True", "False"],
      flowData: this.parsedData,
      toAddItem: false,
      hideMyBlock: {}
    };
  },
  validations: {
    flowData: {
      $each: {
        type: {
          required
        },
        name: {
          required: requiredIf(function() {
            return !this.isSubtype;
          })
        },
        ruleSelected: {
          required: requiredIf(function() {
            return !this.isSubtype;
          })
        },
        subType: {
          // eslint-disable-next-line func-names
          required: requiredIf(function(above) {
            return above.type === "Array";
          })
        }
      }
    }
  },
  created() {
    this.flowData = this.parsedData || {};
  },
  watch: {
    parsedData: {
      handler() {
        this.flowData = this.parsedData;
      }
    },
    flowData: {
      deep: true,
      handler() {
        this.$emit("input", this.flowData);
      }
    }
  },
  methods: {
    triggerEdit(index) {
      this.flowData[index].isEdit = true;
    },
    updateItem(index) {
      this.$v.$touch();

      if (!this.$v.flowData.$each[index].$error) {
        this.flowData[index].isEdit = false;
      }

      this.$emit("input", this.flowData);
    },
    delItem(parentDom, item, index) {
      this.flowData.splice(index, 1);
      if (this.hideMyBlock[index]) this.hideMyBlock[index] = false;
      this.$emit("input", this.flowData);
    },
    toggleBlock(index) {
      this.flowData[index].isShown = !this.flowData[index].isShown;
    },
    addItem() {
      this.flowData.push({
        childParams: [],
        isEdit: true,
        name: null,
        ruleSelected: null,
        subType: null,
        isShown: true
      });
    },
    cancelNewItem() {
      this.toAddItem = false;
    },
    showSubItems(item) {
      return (
        (item.type === "Object" && item.isShown && item.childParams !== null) ||
        (item.type === "Array" && item.subType === "Object") ||
        item.subType === "Array"
      );
    },
    newItem(obj) {
      const oj = {
        name: obj.key,
        type: obj.type,
        ruleSelected: obj.ruleSelected,
        subType: obj.subType,
        isShown: true,
        isEdit: false
      };
      if (obj.type === "Array" || obj.type === "Object") {
        oj.childParams = obj.val;
      } else {
        oj.childParams = [];
      }
      this.flowData.push(oj);
      this.$emit("input", this.flowData);
      this.cancelNewItem();
    },
    onDragEnd() {
      this.$emit("input", this.flowData);
    },
    arrayElementTypeChange(item) {
      if (
        item.type === "Array" &&
        (item.subType === "Object" || item.subType === "Array")
      ) {
        item.childParams = [
          {
            childParams: [],
            type: item.subType,
            name: null,
            ruleSelected: null,
            subType: null,
            isShown: true,
            isEdit: true
          }
        ];
      } else {
        item.childParams = [];
      }
    },
    itemTypeChange(item) {
      if (item.type === "Array" || item.type === "Object") {
        item.childParams = [];
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.f-add-key {
  margin-top: 16px;
}
.f-row {
  display: flex;
}
.f-input-block {
  flex: 1 1 100px;
  margin-bottom: 16px;
}
.f-input {
  width: inherit;
}
.f-buttons {
  flex: 0;
  min-width: fit-content;
  max-width: fit-content;
  margin-bottom: 16px;
}
.f-nested {
  display: flex;
  align-self: center;
}
.f-sub-item {
  margin-left: 20px;
  border-left: solid black 1px;
  padding-left: 12px;
  border-radius: 5px;
  margin-bottom: 20px;
}
</style>

<style lang="scss">
.md-field.md-disabled:after {
  background: rgba(0, 0, 0, 0.42);
}
.md-field.md-theme-default.md-disabled:after {
  background-image: none;
}
.md-menu.md-select .md-input {
  width: inherit;
}
</style>
