<template>
  <div class="empty-services">
    <md-empty-state
      class="empty-services__empty-state"
      md-icon="create_new_folder"
      md-label="Create your first group"
      md-description="Creating a group will allow adding services"
    >
      <md-button
        class="md-primary md-raised"
        @click="$emit('add-group')"
        v-if="user && user.role !== 2"
        >Create first group</md-button
      >
    </md-empty-state>
  </div>
</template>

<script>
export default {
  name: "EmptyServices",
  data() {
    return {
      user: JSON.parse(localStorage.getItem("user")) || {}
    };
  }
};
</script>

<style lang="scss" scoped>
.empty-services {
  height: inherit;
  width: inherit;

  &__empty-state {
    height: 80%;
  }
}
</style>
