<template>
  <div class="service-details">
    <md-table class="service-details-card" v-model="searched" md-card>
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">{{ group.name }}</h1>
        </div>

        <md-field
          md-clearable
          class="md-toolbar-section-end service-details-card__search"
        >
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="updateResults"
          />
        </md-field>

        <md-button
          v-if="user && user.role !== 2"
          class="md-primary md-raised md-toolbar-section-end service-details-card__add"
          @click="addService = true"
        >
          Add Service
        </md-button>
      </md-table-toolbar>

      <md-table-empty-state
        v-if="!searched.length"
        class="service-details-card__content__empty"
        md-icon="add_to_queue"
        :md-label="
          search
            ? `No services found for this '${search}' query.`
            : `There are no services added to this group.`
        "
        :md-description="
          search
            ? 'Try a different search term or create a new service to show up in the list.'
            : `Create a new service to show up in the list.`
        "
      >
        <div style="display: flex; flex-direction: row; align-items: center">
          <md-button
            class="md-primary md-raised"
            style="margin-right: 24px"
            @click="addService = true"
            >Add service</md-button
          >
          <span>Or</span>
          <md-button
            class="md-accent md-raised"
            style="margin-left: 24px"
            @click="activeDeleteGroupConfirm = true"
            >Delete group</md-button
          >
        </div>
      </md-table-empty-state>

      <template v-slot:md-table-row="{ item }">
        <md-table-row class="table-row">
          <md-table-cell md-label="Name" md-sort-by="name">{{
            item.name || "-"
          }}</md-table-cell>
          <md-table-cell md-label="Inputs">{{
            getArrayValues(item.inputs) || "-"
          }}</md-table-cell>
          <md-table-cell md-label="Outputs">{{
            getArrayValues(item.outputs) || "-"
          }}</md-table-cell>
          <md-table-cell md-label="" class="action-section">
            <div style="display: flex; flex-direction: row; width: 140px;">
              <md-button
                class="md-icon-button edit-icon"
                :md-ripple="false"
                @click="$emit('select-service', item)"
              >
                <md-icon class="md-primary">edit</md-icon>
              </md-button>
              <md-button
                v-if="user && user.role !== 2"
                class="md-icon-button edit-icon"
                :md-ripple="false"
                @click="triggerDelete(item)"
              >
                <md-icon class="md-accent">delete</md-icon>
              </md-button>
            </div>
          </md-table-cell>
        </md-table-row>
      </template>
    </md-table>
    <md-dialog-prompt
      :md-active.sync="addService"
      v-model="addServiceValue"
      md-title="Service Name"
      md-input-maxlength="50"
      md-input-placeholder="Service Name"
      md-confirm-text="Create"
      @md-confirm="createService"
    />
    <md-dialog-confirm
      v-if="activeDeleteConfirm"
      :md-active.sync="activeDeleteConfirm"
      :md-title="
        `Do you want to delete the '${selectedDeleteService.name}' service?`
      "
      md-content="All the service details will be deleted without a way to restore. <br> Do you want to proceed?"
      md-confirm-text="Yes"
      md-cancel-text="No"
      @md-confirm="deleteService()"
    />
    <md-dialog-confirm
      v-if="activeDeleteGroupConfirm"
      :md-active.sync="activeDeleteGroupConfirm"
      :md-title="`Do you want to delete the '${group.name}' group?`"
      md-content="All the group details will be deleted without a way to restore. <br> Do you want to proceed?"
      md-confirm-text="Yes"
      md-cancel-text="No"
      @md-confirm="$emit('delete')"
    />
  </div>
</template>

<script>
export default {
  name: "GroupDetails",
  computed: {
    serviceNames() {
      return this.group.services.map(x => x.name);
    }
  },
  props: {
    group: {
      type: Object,
      default: () => ({})
    }
  },
  watch: {
    group: {
      immediate: true,
      deep: true,
      handler() {
        this.updateResults();
      }
    }
  },
  data() {
    return {
      search: "",
      addService: false,
      searched: [],
      addServiceValue: "",
      activeDeleteConfirm: false,
      selectedDeleteService: null,
      activeDeleteGroupConfirm: false,
      user: JSON.parse(localStorage.getItem("user")) || {}
    };
  },
  methods: {
    async createService(name) {
      await this.$api.post({
        url: "/service-groups/add-service",
        payload: { name, groupId: this.group.id }
      });

      const response = await this.$api.get({
        url: `/service-groups/${this.group.id}`
      });

      this.group.services = response.services;

      this.addServiceValue = "";
      this.updateResults();
    },
    getArrayValues(array) {
      return array.length ? array.map(x => x.name).join(", ") : "-";
    },
    updateResults() {
      this.searched = this.group.services.filter(x =>
        x.name.includes(this.search)
      );
    },
    async deleteService() {
      await this.$api.delete({
        url: `/services/${this.selectedDeleteService.id}`
      });

      const response = await this.$api.get({
        url: `/service-groups/${this.group.id}`
      });

      this.group.services = response.services;

      this.addServiceValue = "";
      this.updateResults();
    },
    triggerDelete(item) {
      this.selectedDeleteService = item;
      this.activeDeleteConfirm = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.service-details {
  width: calc(100% - 400px);
}
.service-details-card {
  margin: 50px 200px !important;
  padding: 0;

  &__search {
    width: 300px;
    max-width: 400px;
    margin: 0;
  }

  &__add {
    margin-left: 100px;
    width: 100px;
    max-width: 100px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__content {
    margin: 0 24px;
    padding-bottom: 24px;

    &-top {
      &-search {
        display: flex;
        justify-content: left;
        align-items: center;

        &__search {
        }

        &__search-icon {
          font-size: 32px !important;
          margin: 0 12px;
        }
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 24px 0;
    }

    &__empty {
      width: 100%;
      height: 100%;
      max-width: unset;
      margin: auto;
      background: whitesmoke;
    }
  }
}

.action-section {
  width: 140px;
}

.edit-icon {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: none;
}
</style>

<style lang="scss">
.table-row:hover > .action-section > div > .edit-icon {
  display: block;
}
</style>
