<template>
  <div>
    <md-table class="input-details" v-model="searched">
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Inputs</h1>
        </div>

        <md-field
          md-clearable
          class="md-toolbar-section-end input-details__search"
        >
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="updateResults"
          />
        </md-field>

        <md-button
          v-if="user && user.role !== 2"
          class="md-primary md-raised md-toolbar-section-end input-details__add"
          @click="addInput = true"
        >
          Add Input
        </md-button>
      </md-table-toolbar>

      <md-table-empty-state
        v-if="!searched.length"
        class="input-details__content__empty"
        md-icon="input"
        :md-label="
          search
            ? `No inputs found for this '${search}' query.`
            : `There are no inputs added to this service.`
        "
        :md-description="
          search
            ? 'Try a different search term or create a new input to show up in the list.'
            : `Create a new input to show up in the list.`
        "
      >
        <md-button class="md-primary md-raised" @click="addInput = true"
          >Add input</md-button
        >
      </md-table-empty-state>

      <template v-slot:md-table-row="{ item }">
        <md-table-row class="table-row">
          <md-table-cell md-label="Name" md-sort-by="name">{{
            item.name || "-"
          }}</md-table-cell>
          <md-table-cell md-label="Allows Empty" md-sort-by="allowEmpty">{{
            item.allowEmpty ? "Yes" : "No"
          }}</md-table-cell>
          <md-table-cell md-label="Contains Payload" md-sort-by="payload">{{
            Object.values(item.payload).length ? "Yes" : "No"
          }}</md-table-cell>

          <md-table-cell md-label="" class="action-section">
            <div style="display: flex; flex-direction: row;  width: 140px">
              <md-button
                class="md-icon-button edit-icon"
                :md-ripple="false"
                @click="service.selectedInputValue = item"
              >
                <md-icon class="md-primary">edit</md-icon>
              </md-button>
              <md-button
                v-if="user && user.role !== 2"
                class="md-icon-button edit-icon"
                :md-ripple="false"
                @click="deleteInput(item)"
              >
                <md-icon class="md-accent">delete</md-icon>
              </md-button>
            </div>
          </md-table-cell>
        </md-table-row>
      </template>
    </md-table>
    <md-dialog-prompt
      :md-active.sync="addInput"
      v-model="addInputValue"
      md-title="Add Input"
      md-input-maxlength="50"
      md-input-placeholder="Input Name"
      md-confirm-text="Create"
      @md-confirm="createInput"
    />
  </div>
</template>

<script>
export default {
  name: "InputDetails",
  props: {
    service: {
      type: Object,
      default: () => ({})
    },
    inputs: {
      type: Array,
      required: true
    }
  },
  watch: {
    inputs: {
      immediate: true,
      deep: true,
      handler() {
        this.updateResults();
      }
    }
  },
  data() {
    return {
      search: "",
      addInput: false,
      searched: [],
      addInputValue: "",
      user: JSON.parse(localStorage.getItem("user")) || {}
    };
  },
  methods: {
    updateResults() {
      this.searched = this.inputs.filter(x => x.name.includes(this.search));
    },
    async createInput() {
      this.$emit("add-input", this.addInputValue);
      this.addInputValue = "";
    },
    async deleteInput(item) {
      this.$emit("delete-input", item.id);
    }
  }
};
</script>

<style lang="scss" scoped>
.input-details {
  &__toolbar {
    background-color: white;
  }

  &__search {
    width: 300px;
    max-width: 400px;
    margin: 0;
  }

  &__add {
    margin-left: 100px;
    width: 100px;
    max-width: 100px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__content {
    margin: 0 24px;
    padding-bottom: 24px;

    &-top {
      &-search {
        display: flex;
        justify-content: left;
        align-items: center;

        &__search {
        }

        &__search-icon {
          font-size: 32px !important;
          margin: 0 12px;
        }
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 24px 0;
    }

    &__empty {
      width: 100%;
      height: 100%;
      max-width: unset;
      margin: auto;
      background: whitesmoke;
    }
  }
}

.action-section {
  width: 140px;
}

.edit-icon {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: none;
}
</style>
