<template>
  <md-tabs :md-active-tab="activeTab" @md-changed="changeTab">
    <md-tab id="details" md-label="Details" class="service-tab">
      <div class="details">
        <span class="md-title">Connection Details</span>
        <span class="md-subheading"
          >Service URL and API keys are used to call API which handles the
          Input.</span
        >
        <span class="md-subheading"
          >The API Key provided here will be used as a value of "Authorization"
          header.</span
        >
        <div class="field" style="margin-top: 16px">
          <md-field class="f-input-block">
            <md-icon>public</md-icon>
            <label>Input URL</label>
            <md-input
              :disabled="!(user && user.role !== 2)"
              type="text"
              id="url"
              v-model="input.url"
              class="f-input"
              placeholder="Input URL"
            />
          </md-field>
        </div>
        <div class="field">
          <md-field class="f-input-block" md-toggle-password>
            <md-icon>https</md-icon>
            <label>API Key</label>
            <md-input
              :disabled="!(user && user.role !== 2)"
              type="password"
              v-model="input.apiKey"
              id="api-key"
              class="f-input"
              placeholder="API Key"
            />
          </md-field>
        </div>
        <div style="display: flex; justify-content: flex-end">
          <md-button
            v-if="user && user.role !== 2"
            class="md-primary md-raised"
            style="width: 100px;"
            @click="saveConnectionDetails"
            >Save</md-button
          >
        </div>
      </div>
    </md-tab>
    <md-tab id="payload" md-label="Payload" class="service-tab">
      <div class="payload-content">
        <div class="switches">
          <md-switch
            :disabled="!(user && user.role !== 2)"
            v-model="input.payloadEnabled"
            class="md-primary"
            :md-ripple="false"
            @change="updatePayloadEnabled"
            >Payload</md-switch
          >
          <md-switch
            :disabled="!(user && user.role !== 2)"
            v-if="input.payloadEnabled"
            v-model="input.allowEmpty"
            class="md-primary"
            :md-ripple="false"
            @change="updateAllowEmpty"
            >Allow empty</md-switch
          >
        </div>
        <div
          class="spacing-bottom"
          style="margin-top: 32px"
          v-if="input.payloadEnabled"
        >
          <span class="md-title">Payload Format</span>
          <div>
            <md-button
              :md-ripple="false"
              v-if="!edit"
              :disabled="!payloadValid"
              @click="preview = !preview"
              >Preview</md-button
            >
            <md-button
              class="md-primary md-raised"
              v-if="!edit && user && user.role !== 2"
              :md-ripple="false"
              @click="edit = true"
              :disabled="preview"
              >Edit</md-button
            >
          </div>
          <md-button
            class="md-primary md-raised"
            v-if="edit"
            :md-ripple="false"
            :disabled="!payloadValid"
            @click="savePayload()"
            >Save</md-button
          >
        </div>
        <div class="payload-editor md-scrollbar" v-if="input.payloadEnabled">
          <json-editor
            :key="input.id"
            v-if="!preview"
            v-model="payload"
            :obj-data="input.payload || []"
            :isEdit="edit"
          />
          <vue-json-pretty v-else :data="input.parsedPayload || {}" />
        </div>
      </div>
    </md-tab>
  </md-tabs>
</template>

<script>
import JsonEditor from "../connections/json-formatter/JsonEditor.vue";
import VueJsonPretty from "vue-json-pretty";
import { required } from "vuelidate/lib/validators";

export default {
  name: "SelectedInputDetails",
  components: {
    JsonEditor,
    VueJsonPretty
  },
  props: {
    service: {
      type: Object,
      default: () => ({})
    },
    input: {
      type: Object,
      default: () => ({})
    }
  },
  validations: {
    input: {
      url: {
        required
      }
    }
  },
  data() {
    return {
      activeTab: "details",
      edit: false,
      payload: [],
      preview: false,
      user: JSON.parse(localStorage.getItem("user")) || {}
    };
  },
  computed: {
    payloadValid() {
      return this.payload.every(x => this.verifyPayloadProperty(x));
    }
  },
  methods: {
    changeTab(tab) {
      this.activeTab = tab;
    },
    async savePayload() {
      await this.$api.put({
        url: "/inputs/update-payload",
        payload: { payload: this.payload, inputId: this.input.id }
      });

      this.edit = false;
      this.$emit("reload");
    },
    async updatePayloadEnabled(value) {
      await this.$api.put({
        url: "/inputs/update-payload-enabled",
        payload: { payloadEnabled: value, inputId: this.input.id }
      });
    },
    async updateAllowEmpty(value) {
      await this.$api.put({
        url: "/inputs/update-allow-empty",
        payload: { allowEmpty: value, inputId: this.input.id }
      });
    },
    async saveConnectionDetails() {
      await this.$api.put({
        url: "/inputs/update-connection-details",
        payload: {
          inputId: this.input.id,
          url: this.input.url,
          apiKey: this.input.apiKey
        }
      });
    },
    verifyPayloadProperty(property) {
      const childsValid =
        property.childParams.length === 0 ||
        property.childParams.every(x => this.verifyPayloadProperty(x));

      const propertyValid = !property.isEdit;

      return childsValid && propertyValid;
    }
  }
};
</script>

<style lang="scss" scoped>
.payload-content {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 20px;
}

.service-tab {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 700px;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.field-button {
  min-width: 50px;
  width: 50px;
}

.switches {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.payload-editor {
  margin-top: 16px;
  overflow-y: scroll;
  max-height: 550px;
}
.spacing-bottom {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
</style>
