<template>
  <md-tabs :md-active-tab="activeTab" @md-changed="changeTab">
    <md-tab id="details" md-label="Details" class="service-tab">
      <div class="details">
        <span class="md-title">Connection Details</span>
        <span class="md-subheading"
          >Output is triggered by the connection defined in schema and will call
          all connected schema inputs.</span
        >
      </div>
    </md-tab>
    <md-tab id="payload" md-label="Payload" class="service-tab">
      <div class="payload-content">
        <div class="switches">
          <md-switch
            :disabled="!(user && user.role !== 2)"
            v-model="output.payloadEnabled"
            class="md-primary"
            :md-ripple="false"
            @change="updatePayloadEnabled"
            >Payload</md-switch
          >
          <md-switch
            :disabled="!(user && user.role !== 2)"
            v-if="output.payloadEnabled"
            v-model="output.allowEmpty"
            class="md-primary"
            :md-ripple="false"
            @change="updateAllowEmpty"
            >Allow empty</md-switch
          >
        </div>
        <div
          class="spacing-bottom"
          style="margin-top: 32px"
          v-if="output.payloadEnabled"
        >
          <span class="md-title">Payload Format</span>
          <div>
            <md-button
              :md-ripple="false"
              v-if="!edit"
              :disabled="!payloadValid"
              @click="preview = !preview"
              >Preview</md-button
            >
            <md-button
              class="md-primary md-raised"
              v-if="!edit && user && user.role !== 2"
              :md-ripple="false"
              @click="edit = true"
              :disabled="preview"
              >Edit</md-button
            >
          </div>
          <md-button
            class="md-primary md-raised"
            v-if="edit"
            :md-ripple="false"
            :disabled="!payloadValid"
            @click="savePayload()"
            >Save</md-button
          >
        </div>
        <div class="payload-editor md-scrollbar" v-if="output.payloadEnabled">
          <json-editor
            :key="output.id"
            v-if="!preview"
            v-model="payload"
            :obj-data="output.payload || []"
            :isEdit="edit"
          />
          <vue-json-pretty v-else :data="output.parsedPayload || {}" />
        </div>
      </div>
    </md-tab>
  </md-tabs>
</template>

<script>
import JsonEditor from "../connections/json-formatter/JsonEditor.vue";
import VueJsonPretty from "vue-json-pretty";

export default {
  name: "SelectedOutputDetails",
  components: {
    JsonEditor,
    VueJsonPretty
  },
  props: {
    service: {
      type: Object,
      default: () => ({})
    },
    output: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      activeTab: "details",
      edit: false,
      payload: [],
      preview: false,
      user: JSON.parse(localStorage.getItem("user")) || {}
    };
  },
  computed: {
    payloadValid() {
      return this.payload.every(x => this.verifyPayloadProperty(x));
    }
  },
  methods: {
    changeTab(tab) {
      this.activeTab = tab;
    },
    async savePayload() {
      await this.$api.put({
        url: "/outputs/update-payload",
        payload: { payload: this.payload, outputId: this.output.id }
      });

      this.edit = false;
      this.$emit("reload");
    },
    async updatePayloadEnabled(value) {
      await this.$api.put({
        url: "/outputs/update-payload-enabled",
        payload: { payloadEnabled: value, outputId: this.output.id }
      });
      this.$emit("reload");
    },
    async updateAllowEmpty(value) {
      await this.$api.put({
        url: "/outputs/update-allow-empty",
        payload: { allowEmpty: value, outputId: this.output.id }
      });

      this.$emit("reload");
    },
    verifyPayloadProperty(property) {
      const childsValid =
        property.childParams.length === 0 ||
        property.childParams.every(x => this.verifyPayloadProperty(x));

      const propertyValid = !property.isEdit;

      return childsValid && propertyValid;
    }
  }
};
</script>

<style lang="scss" scoped>
.payload-content {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 20px;
}

.service-tab {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 600px;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.field-button {
  min-width: 50px;
  width: 50px;
}

.switches {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.payload-editor {
  margin-top: 16px;
  overflow-y: scroll;
  max-height: 550px;
}
.spacing-bottom {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
</style>
