<template>
  <div class="services-groups">
    <template v-if="selectedService">
      <div
        class="services-groups__header services-groups__header--back md-elevation-1"
      >
        <md-button
          class="md-icon-button"
          @click="selectService(null)"
          :md-ripple="false"
        >
          <md-icon>arrow_back</md-icon>
        </md-button>
        <h4 class="services-groups__header__title">
          {{ selectedService && selectedService.name }}
        </h4>
      </div>
      <md-content
        class="md-scrollbar"
        style="height: calc(100% - 50px); overflow-y: scroll;"
      >
        <md-list class="services-groups__list">
          <md-list-item
            class="services-groups__list-item"
            :class="{
              'services-groups__list-item--expanded':
                selectedService.selectedInput
            }"
            md-expand
            @md-expanded="openInput"
            @md-collapsed="selectedService.selectedOutput = true"
            :md-expanded.sync="selectedService.selectedInput"
            :md-ripple="false"
          >
            <span class="md-list-item-text">Inputs</span>

            <md-list
              slot="md-expand"
              class="md-dense services-groups__list-item__expansion"
            >
              <template v-if="selectedService.inputs.length">
                <md-list-item
                  v-for="input in selectedService.inputs"
                  :key="'inputs-' + input.name"
                  :class="{
                    'services-groups__list-item--selected':
                      selectedService &&
                      selectedService.selectedInputValue &&
                      selectedService.selectedInputValue.name === input.name
                  }"
                  :md-ripple="false"
                  @click="selectedService.selectedInputValue = input"
                  >{{ input.name }}</md-list-item
                >
              </template>
              <template v-else>
                <md-list-item>
                  No inputs added
                </md-list-item>
              </template>
            </md-list>
          </md-list-item>
          <md-list-item
            class="services-groups__list-item"
            :class="{
              'services-groups__list-item--expanded':
                selectedService.selectedOutput
            }"
            md-expand
            @md-expanded="openOutput"
            @md-collapsed="selectedService.selectedInput = true"
            :md-expanded="selectedService.selectedOutput"
            :md-ripple="false"
          >
            <span class="md-list-item-text"> Outputs </span>

            <md-list
              slot="md-expand"
              class="md-dense services-groups__list-item__expansion"
            >
              <template v-if="selectedService.outputs.length">
                <md-list-item
                  v-for="output in selectedService.outputs"
                  :key="'outputs-' + output.name"
                  :class="{
                    'services-groups__list-item--selected':
                      selectedService &&
                      selectedService.selectedOutputValue &&
                      selectedService.selectedOutputValue.name === output.name
                  }"
                  :md-ripple="false"
                  @click="selectedService.selectedOutputValue = output"
                  >{{ output.name }}</md-list-item
                >
              </template>
              <template v-else>
                <md-list-item>
                  No outputs added
                </md-list-item>
              </template>
            </md-list>
          </md-list-item>
        </md-list>
      </md-content>
    </template>
    <template v-else>
      <div class="services-groups__header md-elevation-1">
        <h3 class="services-groups__header__title">Service Groups</h3>
        <md-button
          v-if="user && user.role !== 2"
          class="md-icon-button services-groups__header__add"
          :md-ripple="false"
          @click="$emit('add-group')"
        >
          <md-icon class="md-primary services-groups__header__add-icon"
            >add</md-icon
          >
        </md-button>
      </div>
      <md-content
        class="md-scrollbar"
        style="height: calc(100% - 50px); overflow-y: scroll;"
      >
        <md-list class="services-groups__list" :md-expand-single="true">
          <md-list-item
            v-for="group in groups"
            :key="'group-' + group.name"
            class="services-groups__list-item"
            :class="{ 'services-groups__list-item--expanded': group.expanded }"
            md-expand
            :md-expanded.sync="group.expanded"
            :md-ripple="false"
          >
            <span class="md-list-item-text"> {{ group.name }} </span>

            <md-list
              slot="md-expand"
              class="md-dense services-groups__list-item__expansion"
            >
              <template v-if="group.services.length">
                <md-list-item
                  v-for="service in group.services"
                  :key="'service-' + service.name"
                  :class="{
                    'services-groups__list-item--selected':
                      selectedService && selectedService.name === service.name
                  }"
                  @click.prevent="selectService(service)"
                  :md-ripple="false"
                  >{{ service.name }}</md-list-item
                >
              </template>
              <template v-else>
                <md-list-item>
                  No services added
                </md-list-item>
              </template>
            </md-list>
          </md-list-item>
        </md-list>
      </md-content>
    </template>
  </div>
</template>

<script>
export default {
  name: "ServicesGroups",
  props: {
    groups: {
      type: Array,
      default: () => []
    },
    selectedGroup: {
      type: Object,
      default: () => ({})
    },
    selectedService: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      user: JSON.parse(localStorage.getItem("user")) || {}
    };
  },
  methods: {
    selectService(service) {
      this.$emit("select-service", service);
    },
    openOutput() {
      this.selectedService.selectedInput = false;
      this.selectedService.selectedInputValue = null;
      this.selectedService.selectedOutputValue = null;
    },
    openInput() {
      this.selectedService.selectedOutput = false;
      this.selectedService.selectedInputValue = null;
      this.selectedService.selectedOutputValue = null;
    }
  }
};
</script>

<style lang="scss" scoped>
.services-groups {
  width: 300px;
  background: white;
  height: inherit;
  border-right: 1px solid rgba(0, 0, 0, 0.2);

  &__header {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--back {
      justify-content: unset;
    }

    &__title {
      padding-top: 2px;
      padding-left: 8px;
    }

    &__add {
      margin: auto 16px auto 0;
    }

    &__add-icon {
      font-size: 32px !important;
    }
  }
  &__list {
    padding-top: 0;
  }

  &__list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    &--expanded {
      background: whitesmoke;
    }

    &--selected {
      background: #e0e0e0;
    }

    &__expansion {
      background: whitesmoke;
      padding-left: 12px !important;
    }
  }

  &__list-item > div > div > i {
    display: none;
  }
}
</style>

<style lang="scss">
.services-groups {
  &__list-item > {
    div > {
      div > i {
        display: none;
      }
    }

    div {
      border-top: none;
    }
  }
}
</style>
