<template>
  <div class="services-management">
    <services-groups
      :groups="value"
      :selected-service="selectedService"
      @add-group="$emit('add-group')"
      @select-service="selectService"
    />
    <service-details
      v-if="selectedService"
      :service="selectedService"
      :group="selectedGroup"
    />
    <group-details
      v-else-if="selectedGroup"
      :group="selectedGroup"
      @select-service="selectService"
      @delete="$emit('delete', selectedGroup)"
    />
  </div>
</template>

<script>
import ServicesGroups from "./SelectionSidebar";
import GroupDetails from "./GroupDetails";
import ServiceDetails from "./ServiceDetails";

export default {
  name: "ServicesManagement",
  components: { ServiceDetails, GroupDetails, ServicesGroups },
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  watch: {
    value: {
      immediate: true,
      deep: true,
      handler() {
        const value = this.value.find(x => x.expanded);
        this.selectedGroup = value;
        if (
          (value && value.name) !==
          (this.selectedGroup && this.selectedGroup.name)
        ) {
          this.selectedService = null;
        }
      }
    },
    selectedGroup: {
      handler() {
        this.selectedService = null;
      }
    }
  },
  data() {
    return {
      selectedGroup: null,
      selectedService: null
    };
  },
  methods: {
    async selectService(service) {
      if (
        !service ||
        (this.selectedService &&
          this.selectedService.name === (service && service.name))
      ) {
        this.selectedService = null;
      } else {
        const selectedService = this.selectedGroup.services.find(
          x => x.name === service.name
        );

        this.selectedService = selectedService;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.services-management {
  display: flex;
  flex-direction: row;
  height: inherit;
  width: inherit;
}
</style>
