<template>
  <div class="service-details">
    <md-card
      class="service-details-card"
      v-if="service.selectedInput && service.selectedInputValue"
    >
      <md-toolbar class="service-details-card__toolbar" md-elevation="0">
        <div class="md-toolbar-section-start">
          <h1 class="md-title">
            {{ group.name }} > {{ service.name }} > Input:
            {{ service.selectedInputValue.name }}
          </h1>
        </div>
      </md-toolbar>
      <selected-input-details
        :service="service"
        :input="service.selectedInputValue"
        @reload="reload"
      />
    </md-card>
    <md-card
      class="service-details-card"
      v-else-if="service.selectedOutput && service.selectedOutputValue"
    >
      <md-toolbar class="service-details-card__toolbar" md-elevation="0">
        <div class="md-toolbar-section-start">
          <h1 class="md-title">
            {{ group.name }} > {{ service.name }} > Output:
            {{ service.selectedOutputValue.name }}
          </h1>
        </div>
      </md-toolbar>
      <selected-output-details
        :service="service"
        :output="service.selectedOutputValue"
        @reload="reload"
      />
    </md-card>
    <md-card class="service-details-card" v-else>
      <md-toolbar class="service-details-card__toolbar" md-elevation="0">
        <div class="md-toolbar-section-start">
          <h1 class="md-title">{{ group.name }} > {{ service.name }}</h1>
        </div>
      </md-toolbar>
      <md-tabs :md-active-tab="activeTab" @md-changed="changeTab">
        <md-tab id="inputs" md-label="Inputs" class="service-tab">
          <input-details
            :inputs="service.inputs"
            :service="service"
            @add-input="createInput"
            @delete-input="deleteInput"
          />
        </md-tab>
        <md-tab id="outputs" md-label="Outputs" class="service-tab">
          <output-details
            :outputs="service.outputs"
            :service="service"
            @add-output="createOutput"
            @delete-output="deleteOutput"
          />
        </md-tab>
      </md-tabs>
    </md-card>
  </div>
</template>

<script>
import OutputDetails from "./OutputList";
import InputDetails from "./InputList";
import SelectedInputDetails from "./InputDetails";
import SelectedOutputDetails from "./OutputDetails";

export default {
  name: "ServiceDetails",
  components: {
    SelectedOutputDetails,
    SelectedInputDetails,
    OutputDetails,
    InputDetails
  },
  computed: {
    serviceNames() {
      return this.group.services.map(x => x.name);
    },
    activeTab() {
      if (this.service.selectedOutput) {
        return "outputs";
      } else {
        return "inputs";
      }
    }
  },
  props: {
    service: {
      type: Object,
      default: () => ({})
    },
    group: {
      type: Object,
      default: () => ({})
    }
  },
  methods: {
    changeTab(tab) {
      if (tab === "outputs") {
        this.service.selectedOutput = true;
        this.service.selectedInput = false;
      } else {
        this.service.selectedOutput = false;
        this.service.selectedInput = true;
      }
    },
    async createInput(name) {
      await this.$api.post({
        url: "/services/add-input",
        payload: { name, serviceId: this.service.id }
      });

      await this.reload();
    },
    async deleteInput(itemId) {
      await this.$api.delete({
        url: `/inputs/${itemId}`
      });

      await this.reload();
    },
    async deleteOutput(itemId) {
      await this.$api.delete({
        url: `/outputs/${itemId}`
      });

      await this.reload();
    },
    async createOutput(name) {
      await this.$api.post({
        url: "/services/add-output",
        payload: { name, serviceId: this.service.id }
      });

      await this.reload();
    },
    async reload() {
      const response = await this.$api.get({
        url: `/services/${this.service.id}`
      });

      this.service.outputs = response.outputs;
      this.service.inputs = response.inputs;

      if (this.service.selectedOutputValue) {
        this.service.selectedOutputValue = this.service.outputs.find(
          x => x.name === this.service.selectedOutputValue.name
        );
      }

      if (this.service.selectedInputValue) {
        this.service.selectedInputValue = this.service.inputs.find(
          x => x.name === this.service.selectedInputValue.name
        );
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.service-details {
  width: calc(100% - 400px);
}
.service-details-card {
  margin: 50px 200px !important;
  padding: 0;

  &__toolbar {
    background-color: white;
  }

  &__search {
    width: 300px;
    max-width: 400px;
    margin: 0;
  }

  &__add {
    margin-left: 100px;
    width: 100px;
    max-width: 100px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__content {
    margin: 0 24px;
    padding-bottom: 24px;

    &-top {
      &-search {
        display: flex;
        justify-content: left;
        align-items: center;

        &__search {
        }

        &__search-icon {
          font-size: 32px !important;
          margin: 0 12px;
        }
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 24px 0;
    }

    &__empty {
      width: 100%;
      height: 100%;
      max-width: unset;
      margin: auto;
      background: whitesmoke;
    }
  }
}

.service-tab {
  padding: 0;
}
</style>

<style lang="scss">
.md-toolbar-section-start > h1.md-title {
  flex: 1;
  font-size: 20px;
}
</style>
