<template>
  <div class="home">
    <schema-management />
  </div>
</template>

<script>
// @ is an alias to /src
import SchemaManagement from "../components/connections/SchemaManagement";

export default {
  name: "Home",
  components: {
    SchemaManagement
  }
};
</script>

<style scoped>
.home {
  width: 100%;
  height: 100%;
  position: absolute;
}
</style>
