<template>
  <div class="login">
    <md-card class="login__card">
      <md-card-header>
        <div class="md-title">Login</div>
      </md-card-header>

      <md-card-content class="login__card__content">
        <form @submit.prevent="validateInput">
          <md-field :class="{ 'md-invalid': $v.email.$error }">
            <label for="email">Email</label>
            <md-input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              v-model="email"
              :disabled="sending"
            />
            <span class="md-error" v-if="!$v.email.required"
              >The email is required.</span
            >
            <span
              class="md-error"
              v-else-if="!$v.email.email || !$v.email.minLength"
              >Invalid email address format.</span
            >
          </md-field>

          <md-field :class="{ 'md-invalid': $v.password.$error }">
            <label for="password">Password</label>
            <md-input
              type="password"
              name="password"
              id="password"
              autocomplete="password"
              v-model="password"
              :disabled="sending"
            />
            <span class="md-error" v-if="!$v.password.required"
              >The password is required.</span
            >
            <span class="md-error" v-else-if="!$v.password.minLength"
              >The password must contain at least 6 characters.</span
            >
          </md-field>

          <md-card-actions class="login__card__action">
            <md-button
              type="submit"
              class="md-primary md-raised login__card__action-submit"
              :disabled="sending"
              >Login</md-button
            >
          </md-card-actions>
        </form>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
import {
  required,
  maxLength,
  minLength,
  email
} from "vuelidate/lib/validators";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      sending: false
    };
  },
  validations: {
    email: {
      required,
      maxLength: maxLength(50),
      minLength: minLength(5),
      email
    },
    password: {
      required,
      maxLength: maxLength(50),
      minLength: minLength(5)
    }
  },
  methods: {
    validateInput() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.login();
      }
    },
    async login() {
      await this.$auth.login({
        email: this.email,
        password: this.password
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    min-width: 400px;
    margin-top: -10%;
    position: absolute;

    &__action {
      margin-top: 48px;
    }

    &__action-submit {
      width: 100%;
    }
  }
}
</style>
