<template>
  <div class="services">
    <services-management
      v-if="groups.length"
      v-model="groups"
      @add-group="addGroup = true"
      @delete="deleteGroup"
    />
    <empty-services v-else @add-group="addGroup = true" />
    <md-dialog-prompt
      :md-active.sync="addGroup"
      md-title="Group Name"
      md-input-maxlength="50"
      md-input-placeholder="Group Name"
      md-confirm-text="Create"
      @md-confirm="createGroup"
    />
  </div>
</template>

<script>
import EmptyServices from "../components/services/EmptyGroups";
import ServicesManagement from "../components/services/ServicesManagement";

export default {
  name: "Services",
  components: { ServicesManagement, EmptyServices },
  data() {
    return {
      addGroup: false,
      groups: []
    };
  },
  async created() {
    this.groups = await this.$api.get({ url: "/service-groups" });
  },
  methods: {
    async createGroup(value) {
      await this.$api.post({
        url: "/service-groups",
        payload: { name: value }
      });
      this.groups = await this.$api.get({
        url: "/service-groups"
      });
    },
    async deleteGroup(group) {
      await this.$api.delete({
        url: `/service-groups/${group.id}`
      });

      this.groups = await this.$api.get({
        url: "/service-groups"
      });
    }
  }
};
</script>

<style scoped>
.services {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  position: absolute;
}
</style>
