<template>
  <div>
    <md-table class="service-details-card" v-model="searched" md-card>
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Users</h1>
        </div>

        <md-field
          md-clearable
          class="md-toolbar-section-end service-details-card__search"
        >
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="updateResults"
          />
        </md-field>

        <md-button
          v-if="user && user.role !== 2"
          class="md-primary md-raised md-toolbar-section-end service-details-card__add"
          @click="triggerUserAdd"
        >
          Add User
        </md-button>
      </md-table-toolbar>

      <md-table-empty-state
        v-show="!searched.length"
        class="service-details-card__content__empty"
        md-icon="person_add"
        :md-label="
          search
            ? `No users found for this '${search}' query.`
            : `There are no users.`
        "
        :md-description="
          search
            ? 'Try a different search term or create a new user to show up in the list.'
            : `Create a new user to show up in the list.`
        "
      >
        <md-button class="md-primary md-raised" @click="triggerUserAdd"
          >Add user</md-button
        >
      </md-table-empty-state>

      <template v-slot:md-table-row="{ item }">
        <md-table-row class="table-row">
          <md-table-cell md-label="Name" md-sort-by="name">{{
            item.name || "-"
          }}</md-table-cell>
          <md-table-cell md-label="Email">{{
            item.email || "-"
          }}</md-table-cell>
          <md-table-cell md-label="" class="action-section">
            <div style="display: flex; flex-direction: row;">
              <md-button
                class="md-icon-button edit-icon"
                :md-ripple="false"
                @click="triggerUserUpdate(item)"
              >
                <md-icon class="md-primary">edit</md-icon>
              </md-button>
              <md-button
                class="md-icon-button edit-icon"
                v-if="user.id !== item.id"
                :md-ripple="false"
                @click="deleteUser(item)"
              >
                <md-icon class="md-accent">delete</md-icon>
              </md-button>
            </div>
          </md-table-cell>
        </md-table-row>
      </template>
    </md-table>
    <md-dialog :md-active.sync="addUser" style="width: 600px">
      <md-dialog-title>Create user</md-dialog-title>
      <div style="margin: 0 32px 32px">
        <form @submit.prevent="validateInput">
          <md-field :class="{ 'md-invalid': $v.addUserValue.username.$error }">
            <label for="first-name">Username</label>
            <md-input
              name="first-name"
              id="first-name"
              autocomplete="given-name"
              v-model="addUserValue.username"
            />
            <span class="md-error" v-if="!$v.addUserValue.username.required"
              >The username is required.</span
            >
          </md-field>
          <md-field :class="{ 'md-invalid': $v.addUserValue.email.$error }">
            <label for="email">Email</label>
            <md-input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              v-model="addUserValue.email"
            />
            <span class="md-error" v-if="!$v.addUserValue.email.required"
              >The email is required.</span
            >
            <span
              class="md-error"
              v-else-if="
                !$v.addUserValue.email || !$v.addUserValue.email.minLength
              "
              >Invalid email address format.</span
            >
          </md-field>

          <md-field :class="{ 'md-invalid': $v.addUserValue.password.$error }">
            <label for="last-name">Password</label>
            <md-input
              name="last-name"
              id="last-name"
              autocomplete="family-name"
              v-model="addUserValue.password"
              type="password"
            />
            <span class="md-error" v-if="!$v.addUserValue.password.required"
              >The password is required.</span
            >
            <span
              class="md-error"
              v-else-if="!$v.addUserValue.password.minLength"
              >The password must contain at least 6 characters.</span
            >
          </md-field>

          <md-field :class="{ 'md-invalid': $v.addUserValue.role.$error }">
            <label for="role">Role</label>
            <md-select v-model="addUserValue.role" name="role" id="role">
              <md-option value="1">Admin</md-option>
              <md-option value="2">Read Only</md-option>
            </md-select>
            <span class="md-error" v-if="!$v.addUserValue.role.required"
              >The role is required.</span
            >
          </md-field>

          <md-button
            class="md-primary md-raised"
            style="width: 100%; margin: 24px 0 0;"
            :md-ripple="false"
            type="submit"
          >
            Create</md-button
          >
        </form>
      </div>
    </md-dialog>
    <md-dialog :md-active.sync="updateUser" style="width: 600px">
      <md-dialog-title>User Details</md-dialog-title>
      <div style="margin: 0 32px 32px">
        <form @submit.prevent="validateChangePassword">
          <md-field>
            <label for="update-first-name">Username</label>
            <md-input
              name="first-name"
              id="update-first-name"
              autocomplete="given-name"
              v-model="updateUserValue.name"
              disabled
            />
          </md-field>
          <md-field>
            <label for="update-email">Email</label>
            <md-input
              type="email"
              name="email"
              id="update-email"
              autocomplete="email"
              v-model="updateUserValue.email"
              disabled
            />
          </md-field>

          <md-field>
            <label for="update-">Role</label>
            <md-select
              v-model="updateUserValue.role"
              name="role"
              id="update-"
              disabled
            >
              <md-option value="1">Admin</md-option>
              <md-option value="2">Read Only</md-option>
            </md-select>
          </md-field>

          <template v-if="user.id === updateUserValue.id">
            <md-field
              :class="{ 'md-invalid': $v.updateUserValue.password.$error }"
            >
              <label for="update--password">Old password</label>
              <md-input
                name="last-name"
                id="update--password"
                v-model="updateUserValue.password"
                type="password"
              />
              <span
                class="md-error"
                v-if="!$v.updateUserValue.password.required"
                >The password is required.</span
              >
              <span
                class="md-error"
                v-else-if="!$v.updateUserValue.password.minLength"
                >The password must contain at least 6 characters.</span
              >
            </md-field>

            <md-field
              :class="{ 'md-invalid': $v.updateUserValue.newPassword.$error }"
            >
              <label for="update--name">New password</label>
              <md-input
                name="last-name"
                id="update--name"
                v-model="updateUserValue.newPassword"
                type="password"
              />
              <span
                class="md-error"
                v-if="!$v.updateUserValue.newPassword.required"
                >The password is required.</span
              >
              <span
                class="md-error"
                v-else-if="!$v.updateUserValue.newPassword.minLength"
                >The password must contain at least 6 characters.</span
              >
            </md-field>

            <md-button
              class="md-primary md-raised"
              style="width: 100%; margin: 24px 0 0;"
              :md-ripple="false"
              type="submit"
            >
              Change Password</md-button
            >
          </template>
        </form>
      </div>
    </md-dialog>
  </div>
</template>

<script>
import {
  email,
  maxLength,
  minLength,
  required,
  between
} from "vuelidate/lib/validators";

export default {
  name: "Users",
  data() {
    return {
      search: "",
      addUser: false,
      searched: [],
      addUserValue: {},
      updateUser: false,
      updateUserValue: {},
      users: [],
      user: JSON.parse(localStorage.getItem("user"))
    };
  },
  created() {
    this.getUsers();
  },
  validations: {
    addUserValue: {
      email: {
        required,
        maxLength: maxLength(50),
        minLength: minLength(5),
        email
      },
      password: {
        required,
        maxLength: maxLength(50),
        minLength: minLength(5)
      },
      username: {
        required
      },
      role: {
        required,
        between: between(1, 2)
      }
    },
    updateUserValue: {
      password: {
        required
      },
      newPassword: {
        required,
        maxLength: maxLength(50),
        minLength: minLength(5)
      }
    }
  },
  methods: {
    validateInput() {
      this.$v.addUserValue.$touch();

      if (!this.$v.addUserValue.$invalid) {
        this.createUser();
      }
    },
    validateChangePassword() {
      this.$v.updateUserValue.$touch();

      if (!this.$v.updateUserValue.$invalid) {
        this.changePassword();
      }
    },
    triggerUserAdd() {
      this.$v.$reset();
      this.addUserValue = {};
      this.addUser = true;
    },
    triggerUserUpdate(item) {
      this.updateUserValue = item;
      this.updateUser = true;
    },
    async createUser() {
      await this.$api.post({
        url: "/users",
        payload: {
          name: this.addUserValue.username,
          password: this.addUserValue.password,
          role: this.addUserValue.role,
          email: this.addUserValue.email
        }
      });

      this.getUsers();

      this.addUser = false;
      this.addUserValue = {};
    },
    async changePassword() {
      await this.$api.put({
        url: `/users/${this.updateUserValue.id}`,
        payload: {
          oldPassword: this.updateUserValue.password,
          newPassword: this.updateUserValue.newPassword
        }
      });

      this.updateUser = false;
      this.updateUserValue = {};
    },
    async getUsers() {
      this.users = await this.$api.get({
        url: "/users"
      });

      this.updateResults();
    },
    async deleteUser(user) {
      this.users = await this.$api.delete({
        url: `/users/${user.id}`
      });

      this.getUsers();
    },
    updateResults() {
      this.searched = this.users.filter(x => x.name.includes(this.search));
    }
  }
};
</script>

<style lang="scss" scoped>
.service-details {
  width: calc(100% - 400px);
}
.service-details-card {
  margin: 50px 200px !important;
  padding: 0;

  &__search {
    width: 300px;
    max-width: 400px;
    margin: 0;
  }

  &__add {
    margin-left: 100px;
    width: 100px;
    max-width: 100px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__content {
    margin: 0 24px;
    padding-bottom: 24px;

    &-top {
      &-search {
        display: flex;
        justify-content: left;
        align-items: center;

        &__search {
        }

        &__search-icon {
          font-size: 32px !important;
          margin: 0 12px;
        }
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 24px 0;
    }

    &__empty {
      width: 100%;
      height: 100%;
      max-width: unset;
      margin: auto;
      background: whitesmoke;
    }
  }
}

.action-section {
  width: 140px;
}

.edit-icon {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: none;
}
</style>

<style lang="scss">
.table-row:hover > .action-section > div > .edit-icon {
  display: block;
}
</style>
