<template>
  <vue-link :lines="lines" />
</template>

<script>
import VueLink from "./Link";

export default {
  name: "VueBlockLink",
  components: {
    VueLink
  },
  props: {
    x: {
      type: Number,
      default: 0,
      validator(val) {
        return typeof val === "number";
      }
    },
    y: {
      type: Number,
      default: 0,
      validator(val) {
        return typeof val === "number";
      }
    },
    selected: Boolean,
    title: {
      type: String,
      default: "Title"
    },
    inputs: Array,
    outputs: Array,

    options: {
      type: Object
    }
  },
  computed: {
    lines() {
      const lines = [];

      if (this.loaded) {
        this.outputs.forEach(output => {
          const position = {
            x: output.position.x,
            y: output.position.y
          };

          output.links.forEach(link => {
            if (link.position) {
              lines.push({
                title: this.title + link.name,
                x1: position.x + this.options.center.x,
                y1: position.y + this.options.center.y,
                x2: link.position.x + this.options.center.x,
                y2: link.position.y + this.options.center.y,
                style: {
                  stroke: "#F85",
                  strokeWidth: 4,
                  fill: "none"
                },
                outlineStyle: {
                  stroke: "#666",
                  strokeWidth: 6,
                  strokeOpacity: 0.6,
                  fill: "none"
                }
              });
            }
          });
        });
      }

      return lines;
    }
  },
  data() {
    return {
      loaded: false
    };
  },
  mounted() {
    this.loaded = true;
  }
};
</script>
