<template>
  <div class="container">
    <vue-blocks-container
      :scene.sync="scene"
      @save="save"
      :scheme-id="id"
      :trigger-save.sync="triggerSave"
      :title="title"
      @deselect-schema="$emit('deselect-schema')"
    />
  </div>
</template>

<script>
import VueBlocksContainer from "./SchemaEditor.vue";

export default {
  name: "SchemaEditor",
  components: {
    VueBlocksContainer
  },
  props: {
    blocks: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      tab: "tab-default",
      scene: {
        blocks: this.blocks,
        container: {
          centerX: 0,
          centerY: 0,
          scale: 1
        }
      },
      triggerSave: false
    };
  },
  methods: {
    async save(data) {
      await this.$api.put({
        url: "/schemas/" + this.id,
        payload: { id: 123, data }
      });
    }
  }
};
</script>

<style>
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container > .vue-container {
}

.container > .bottom-drawer {
  z-index: 4;
  height: 200px;
  margin-top: auto;
  width: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  padding-left: -100px;
}

.container > .md-overlay {
  display: none;
}
</style>
