<template>
  <div class="schema-management">
    <schema-list @select-schema="selectSchema" v-if="!selectedSchema" />
    <schema-editor
      v-else
      :blocks="selectedSchema.data"
      :title="selectedSchema.name"
      :id="selectedSchema.id"
      @deselect-schema="selectedSchema = null"
    />
  </div>
</template>

<script>
import SchemaList from "./SchemaList";
import SchemaEditor from "./EditorContainer";

export default {
  name: "SchemaManagement",
  components: { SchemaEditor, SchemaList },
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      selectedSchema: null
    };
  },
  methods: {
    selectSchema(value) {
      this.selectedSchema = value;
    }
  }
};
</script>

<style lang="scss" scoped>
.schema-management {
  display: flex;
  flex-direction: row;
  height: inherit;
  width: inherit;
}
</style>
