<template>
  <md-content
    class="vue-container md-scrollbar"
    :style="{ width: containerWidth }"
    @contextmenu="deselectBlock"
  >
    <md-toolbar
      style="position: fixed; z-index: 30; display: flex; justify-content: space-between"
      class="md-dense"
      md-elevation="2"
      :style="{ width: toolbarWidth }"
    >
      <div style="display: flex; align-items: center">
        <md-button
          class="md-icon-button"
          @click="$emit('deselect-schema')"
          :md-ripple="false"
        >
          <md-icon>arrow_back</md-icon>
        </md-button>
        <span class="md-title" style="margin-left: 0;">{{ title }}</span>
      </div>

      <div>
        <md-button
          v-if="user && user.role !== 2"
          class="md-icon-button md-primary md-raised"
          @click="saveScene"
          :md-ripple="false"
        >
          <md-icon>save</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="blocks-container" :style="{ zoom: editorScale }">
      <div class="editor-wrapper">
        <div class="editor-container">
          <div class="editor-container_cell-wrapper">
            <VueLink v-if="tempLine" :lines="[tempLine]" />
            <VueBlockLink
              v-for="block in blocks"
              :key="'link-' + block.id"
              v-bind="block"
              :options="optionsForChild"
            />
            <VueBlock
              v-for="block in blocks"
              :key="block.id"
              v-bind="block"
              :options="optionsForChild"
              @update="updateScene"
              @update:x="updateBlockX(block, $event)"
              @update:y="updateBlockY(block, $event)"
              @linkingStart="linkingStart(block, $event)"
              @linkingStop="linkingStop(block, $event)"
              @linkingBreak="linkingBreak(block, $event)"
              @select="blockSelect(block)"
              @select-input="name => (clickedInputName = name)"
              @select-output="name => (clickedOutputName = name)"
              @dragging="
                isDragging => {
                  draggingBlock = isDragging ? block : null;
                }
              "
            />
          </div>
        </div>
      </div>
    </div>
    <md-drawer :md-active="showSidebar" md-fixed md-right>
      <BlockDetails
        :selected-block="selectedBlock"
        :clicked-input-name.sync="clickedInputName"
        :clicked-output-name.sync="clickedOutputName"
      />
    </md-drawer>
    <md-speed-dial
      v-if="user && user.role !== 2"
      class="add-button"
      :style="{ right: showSidebar ? '350px' : '50px' }"
    >
      <md-speed-dial-target @click="addNewBlockModal">
        <md-icon>add</md-icon>
      </md-speed-dial-target>
    </md-speed-dial>

    <md-dialog :md-active.sync="showDialog">
      <md-dialog-content class="block-selection-dialog">
        <md-dialog-title>Service selection</md-dialog-title>

        <md-content class="block-selection-dialog__content">
          <md-field>
            <label :for="'groupselection'">Group Selection</label>
            <md-select
              v-model="selectedGroupName"
              class="f-input"
              placeholder="Group"
              @md-selected="selectGroup"
            >
              <md-option
                :disabled="group.services.length === 0"
                class="f-input"
                v-for="group in serviceGroups"
                :value="group.name"
                :key="group.id"
                id="groupselection"
              >
                {{ group.name }}
              </md-option>
            </md-select>
          </md-field>
          <md-content
            class="md-scrollbar"
            style="max-height: 500px; overflow-y: auto;"
          >
            <md-content
              class="block-selection-dialog__content__services"
              v-if="selectedGroup"
            >
              <md-card
                v-for="service in selectedGroup.services"
                :key="service.id"
                class="block-selection-dialog__content__card"
              >
                <span class="md-subheading">{{ service.name }}</span>
                <span class="md-caption"
                  >Inputs: {{ service.inputs.length }}</span
                >
                <span class="md-caption"
                  >Outputs: {{ service.outputs.length }}</span
                >

                <div
                  style="display: flex; justify-content: flex-end; align-items: center; margin-top: 24px"
                >
                  <div>
                    <md-icon
                      class="md-accent"
                      v-if="
                        (!service.inputs.length && !service.outputs.length) ||
                          blocks.some(x => x.title === service.name)
                      "
                      style="margin: 0 6px 0 0;"
                      >error</md-icon
                    >
                    <md-tooltip
                      v-if="!service.inputs.length && !service.outputs.length"
                      >Service must have at least 1 input or output.</md-tooltip
                    >
                    <md-tooltip
                      v-if="blocks.some(x => x.title === service.name)"
                      >This service is already declared in the
                      schema.</md-tooltip
                    >
                  </div>
                  <md-button
                    :disabled="
                      (!service.inputs.length && !service.outputs.length) ||
                        blocks.some(x => x.title === service.name)
                    "
                    class="md-raised md-primary"
                    style="margin:0;"
                    @click="addNewBlock(service)"
                    >Select</md-button
                  >
                </div>
              </md-card>
            </md-content>
          </md-content>
        </md-content>
      </md-dialog-content>
    </md-dialog>
  </md-content>
</template>

<script>
import merge from "deepmerge";
import mouseHelper from "../../helpers/mouse";

import VueBlock from "./ServiceBlock.vue";
import VueLink from "./Link.vue";
import VueBlockLink from "./BlockLinker.vue";
import BlockDetails from "./ServiceDetails";

export default {
  name: "VueBlockContainer",
  components: {
    BlockDetails,
    VueBlock,
    VueLink,
    VueBlockLink
  },
  props: {
    scene: {
      type: Object,
      default: () => ({ blocks: [], links: [], container: {} })
    },
    options: {
      type: Object
    },
    schemeId: {
      type: String,
      required: true
    },
    triggerSave: {
      type: Boolean
    },
    title: {
      type: String,
      required: true
    }
  },
  mounted() {
    document.documentElement.addEventListener(
      "mousemove",
      this.handleMove,
      true
    );
    document.documentElement.addEventListener(
      "scroll",
      this.handleScroll,
      true
    );
    document.documentElement.addEventListener("mouseup", this.handleUp, true);
    document.documentElement.addEventListener("keydown", this.save);
    this.$el.addEventListener("wheel", this.handleWheel, true);

    this.centerX = this.$el.clientWidth / 2;
    this.centerY = this.$el.clientHeight / 2;
    this.scrollX = this.$el.scrollLeft;
    this.scrollY = this.$el.scrollTop;

    this.importScene();
  },
  beforeDestroy() {
    document.documentElement.removeEventListener(
      "mousemove",
      this.handleMove,
      true
    );
    document.documentElement.removeEventListener(
      "mouseup",
      this.handleUp,
      true
    );
    document.documentElement.removeEventListener(
      "scroll",
      this.handleScroll,
      true
    );
    document.documentElement.removeEventListener("keydown", this.save);
    this.$el.removeEventListener("wheel", this.handleWheel, true);
  },
  created() {
    this.mouseX = 0;
    this.mouseY = 0;

    this.lastMouseX = 0;
    this.lastMouseY = 0;

    this.minScale = 0.2;
    this.maxScale = 3;

    this.linking = false;
    this.linkStartData = null;

    this.inputSlotClassName = "connector";

    this.defaultScene = {
      blocks: [],
      container: {}
    };
  },
  data() {
    return {
      dragging: false,
      //
      centerX: 0,
      centerY: 0,
      scale: 1,
      editorScale: 1,
      //
      scrollX: 0,
      scrollY: 0,
      //
      nodes: [],
      blocks: [],
      //
      tempLink: null,
      selectedBlock: null,
      draggingBlock: null,
      hasDragged: false,
      showSidebar: false,
      showDialog: false,
      serviceGroups: {},
      selectedGroup: null,
      selectedGroupName: null,
      clickedInputName: null,
      clickedOutputName: null,
      user: JSON.parse(localStorage.getItem("user")) || {}
    };
  },
  computed: {
    optionsForChild() {
      return {
        width: 200,
        titleHeight: 20,
        scale: this.editorScale,
        inputSlotClassName: this.inputSlotClassName,
        center: {
          x: this.centerX,
          y: this.centerY
        }
      };
    },
    container() {
      return {
        centerX: this.centerX,
        centerY: this.centerY,
        scale: this.scale
      };
    },
    tempLine() {
      if (this.tempLink) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.tempLink.style = {
          stroke: "#8f8f8f",
          strokeWidth: 4 * this.scale,
          fill: "none"
        };

        return this.tempLink;
      }
      return null;
    },
    containerWidth() {
      return this.showSidebar
        ? this.$el.getBoundingClientRect().width - 400 + "px"
        : "100%";
    },
    toolbarWidth() {
      return this.showSidebar
        ? this.$el.getBoundingClientRect().width - 400 + "px"
        : "calc(100% - 100px)";
    }
  },
  methods: {
    selectGroup() {
      this.selectedGroup = this.serviceGroups.find(
        x => x.name === this.selectedGroupName
      );
    },
    deselectBlock(e) {
      this.deselectAll();
      e.preventDefault();
    },
    // Events
    /** @param e {MouseEvent} */
    handleMove(e) {
      const mouse = mouseHelper.getMousePosition(this.$el, e);
      this.mouseX = mouse.x;
      this.mouseY = mouse.y;

      const diffX = this.mouseX - this.lastMouseX;
      const diffY = this.mouseY - this.lastMouseY;

      this.lastMouseX = this.mouseX;
      this.lastMouseY = this.mouseY;

      if (this.dragging) {
        this.centerX += diffX;
        this.centerY += diffY;

        this.hasDragged = true;
      }

      if (this.linking && this.linkStartData) {
        this.tempLink = {
          x1: this.tempLink.x1,
          y1: this.tempLink.y1,
          x2: this.tempLink.x2 + diffX / this.editorScale,
          y2: this.tempLink.y2 + diffY / this.editorScale
        };
      }
    },
    handleUp(e) {
      const target = e.target || e.srcElement;

      if (this.dragging) {
        this.dragging = false;

        if (this.hasDragged) {
          this.hasDragged = false;
        }
      }

      if (
        this.$el.contains(target) &&
        (typeof target.className !== "string" ||
          target.className.indexOf(this.inputSlotClassName) === -1)
      ) {
        this.linking = false;
        this.tempLink = null;
        this.linkStartData = null;
      }
    },
    handleWheel(e) {
      const target = e.target || e.srcElement;

      if (this.$el.contains(target) && e.ctrlKey) {
        if (e.preventDefault) {
          e.preventDefault();
        }

        if (!this.draggingBlock) {
          const deltaScale = Math.pow(1.1, e.deltaY * -0.01);
          if (this.editorScale * deltaScale > 0.6) {
            this.editorScale = this.editorScale * deltaScale;
          }
        }
      }
    },
    handleScroll() {
      if (this.draggingBlock) {
        this.draggingBlock.x =
          this.draggingBlock.x +
          (this.$el.scrollLeft - this.scrollX) / this.editorScale;
        this.draggingBlock.y =
          this.draggingBlock.y +
          (this.$el.scrollTop - this.scrollY) / this.editorScale;
      }

      if (this.linking && this.linkStartData) {
        this.tempLink.x2 =
          this.tempLink.x2 +
          (this.$el.scrollLeft - this.scrollX) / this.editorScale;
        this.tempLink.y2 =
          this.tempLink.y2 +
          (this.$el.scrollTop - this.scrollY) / this.editorScale;
      }

      this.scrollX = this.$el.scrollLeft;
      this.scrollY = this.$el.scrollTop;
    },
    // Linking
    linkingStart(block, { index, position }) {
      if (this.user.role !== 1) {
        return;
      }
      this.linkStartData = { block, slotNumber: index };
      this.tempLink = {
        x1: position.x + this.centerX,
        y1: position.y + this.centerY,
        x2: position.x + this.centerX,
        y2: position.y + this.centerY
      };

      this.linking = true;
    },
    linkingStop(targetBlock, slotName) {
      if (
        this.linkStartData &&
        this.linkStartData.block.id !== targetBlock.id &&
        targetBlock &&
        slotName
      ) {
        const input = targetBlock.inputs.find(x => x.name === slotName);
        const output = this.linkStartData.block.outputs[
          this.linkStartData.slotNumber
        ];
        const inputLink = output.links.find(x => x.name === slotName);
        if (inputLink) {
          const inputIndex = output.links.indexOf(inputLink);
          const outputIndex = input.links.indexOf(output);

          output.links.splice(inputIndex, 1);
          input.links.splice(outputIndex, 1);
        } else {
          input.blockId = targetBlock.id;
          input.links.push(
            this.linkStartData.block.outputs[this.linkStartData.slotNumber]
          );
          this.linkStartData.block.outputs[
            this.linkStartData.slotNumber
          ].links.push(input);
        }
      }

      this.linking = false;
      this.tempLink = null;
      this.linkStartData = null;
    },
    linkingBreak(targetBlock, slotName) {
      if (this.user.role !== 1) {
        return;
      }
      if (targetBlock && slotName) {
        const input = targetBlock.inputs.find(x => x.name === slotName);

        input.links.forEach(x => {
          const linkIndex = x.links.indexOf(
            x.links.find(x => x.name === slotName)
          );
          x.links.splice(linkIndex, 1);
        });

        input.links = [];
      }
    },
    // Blocks
    async addNewBlockModal() {
      this.serviceGroups = await this.$api.get({ url: "/service-groups" });
      this.showDialog = true;
    },
    async addNewBlock(service) {
      const block = {
        id: service.id,
        title: service.name,
        x: 0,
        y: 0,
        outputs: service.outputs.map(x => ({
          ...x,
          data: {
            url: `/${this.schemeId}/${service.id}/output/${x.name}`,
            apiKey: this.generateRandomString(64)
          },
          position: {
            x: 0,
            y: 0
          },
          links: []
        })),
        inputs: service.inputs.map(x => ({
          ...x,
          data: {
            url: x.url,
            apiKey: x.apiKey
          },
          position: {
            x: 0,
            y: 0
          },
          links: []
        })),
        data: {}
      };

      this.showDialog = false;
      this.selectedGroup = null;
      this.selectedGroupName = null;
      this.blocks.push(block);
    },
    deselectAll(withoutID = null) {
      this.blocks.forEach(value => {
        if (value.id !== withoutID && value.selected) {
          this.blockDeselect(value);
        }
      });
    },
    generateRandomString(length) {
      let text = "";

      const symbols =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (let i = 0; i < length; i++) {
        text += symbols.charAt(Math.floor(Math.random() * symbols.length));
      }
      return text;
    },
    // Events
    blockSelect(block) {
      // eslint-disable-next-line no-param-reassign
      block.selected = true;
      this.selectedBlock = block;
      this.showSidebar = true;
      this.deselectAll(block.id);
      this.$emit("blockSelect", block);
    },
    updateBlockX(block, diffX) {
      block.x = diffX;
    },
    updateBlockY(block, diffY) {
      block.y = diffY;
    },
    blockDeselect(block) {
      // eslint-disable-next-line no-param-reassign
      block.selected = false;

      if (block && this.selectedBlock && this.selectedBlock.id === block.id) {
        this.selectedBlock = null;
        this.showSidebar = false;
      }

      this.$emit("blockDeselect", block);
    },
    blockDelete() {
      if (this.selectedBlock) {
        this.selectedBlock.inputs.forEach(x => {
          x.links.forEach(link => {
            link.links.splice(link.links.indexOf(x), 1);
          });
        });
        this.selectedBlock.outputs.forEach(x => {
          x.links.forEach(link => {
            link.links.splice(link.links.indexOf(x), 1);
          });
        });

        this.blocks.splice(this.blocks.indexOf(this.selectedBlock), 1);
      }
    },
    importScene() {
      const scene = merge(this.defaultScene, this.scene);

      this.blocks = this.scene.blocks;

      this.linkBlocks(this.blocks);

      const { container } = scene;
      if (container.centerX) {
        this.centerX = container.centerX;
      }
      if (container.centerY) {
        this.centerY = container.centerY;
      }
      if (container.scale) {
        this.scale = container.scale;
      }
    },
    linkBlocks(blocks) {
      blocks.forEach(block => {
        block.outputs.forEach(output => {
          output.links = output.links
            .map(link => {
              const input = blocks
                .find(b => b.id === link.blockId)
                .inputs.find(i => i.name === link.name);
              if (!input) {
                return null;
              }
              if (!input.links) {
                input.links = [];
              }
              input.links.push(output);
              input.blockId = link.blockId;
              return input;
            })
            .filter(link => link);
        });
      });
    },
    async save(e) {
      if (this.user.role === 1) {
        if (!(e.keyCode === 83 && e.ctrlKey)) {
          if (e.keyCode === 46) {
            this.blockDelete();
          }
          return;
        }

        await this.saveScene();
        e.preventDefault();
      }
    },
    async saveScene() {
      const data = this.blocks.map(x => ({
        ...x,
        inputs: x.inputs.map(input => ({
          name: input.name,
          position: {
            x: 0,
            y: 0
          },
          links: [],
          data: input.data
        })),
        outputs: x.outputs.map(output => ({
          name: output.name,
          links: output.links.map(link => ({
            blockId: link.blockId,
            name: link.name
          })),
          position: {
            x: 0,
            y: 0
          },
          data: output.data
        }))
      }));

      this.$emit("save", data);
    },
    updateScene() {
      this.$emit("update:scene");
    }
  },
  watch: {
    scene() {
      this.importScene();
    }
  }
};
</script>

<style lang="scss" scoped>
.vue-container {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
  transition: width 0.3s ease-out;
}

.blocks-container {
  height: 2201px;
  position: absolute;
  width: inherit;
}

.editor-container {
  height: 2001px;
  width: 2001px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-size: 25px 25px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent 1px);
}

.editor-wrapper {
  height: 2400px;
  width: 2400px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.editor-container_cell-wrapper {
  height: 100%;
  width: 100%;
  background-size: 125px 125px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      transparent 3px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent 3px);
}

.add-button {
  position: fixed;
  bottom: 50px;
  transition: right 0.3s ease-out;
  z-index: 21;
}
</style>

<style lang="scss">
.vue-container > .md-drawer {
  z-index: 9;
  max-width: 300px;
  margin-top: 65px;
}

.vue-container > .md-overlay {
  display: none;
}

.block-selection-dialog {
  width: 800px;

  &__content {
    padding: 20px;

    &__services {
      display: flex;
      flex-wrap: wrap;
      background-color: whitesmoke !important;
      padding: 12px;
    }

    &__card {
      display: flex;
      flex-direction: column;
      padding: 12px;
      height: 140px;
      width: 200px;
      margin: 12px;
    }
  }
}
</style>
