<template>
  <div class="schema-list">
    <md-table class="schema-list-card" v-model="searched" md-card>
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Schemas</h1>
        </div>

        <md-field
          md-clearable
          class="md-toolbar-section-end schema-list-card__search"
        >
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="updateResults"
          />
        </md-field>

        <md-button
          v-if="user && user.role !== 2"
          class="md-primary md-raised md-toolbar-section-end schema-list-card__add"
          @click="addSchema = true"
        >
          Add Schema
        </md-button>
      </md-table-toolbar>

      <md-table-empty-state
        v-show="!searched.length"
        class="schema-list-card__content__empty"
        md-icon="account_tree"
        :md-label="
          search
            ? `No schemas found for this '${search}' query.`
            : `There are no schemas created.`
        "
        :md-description="
          search
            ? 'Try a different search term or create a new schema to show up in the list.'
            : `Create a new schema to show up in the list.`
        "
      >
        <md-button
          v-if="user && user.role !== 2"
          class="md-primary md-raised"
          @click="addSchema = true"
          >Add schema</md-button
        >
      </md-table-empty-state>

      <template v-slot:md-table-row="{ item }">
        <md-table-row class="table-row">
          <md-table-cell md-label="Name" md-sort-by="name">{{
            item.name || "-"
          }}</md-table-cell>
          <md-table-cell md-label="Services">{{
            item.data.length ? item.data.map(x => x.title).join(", ") : "-"
          }}</md-table-cell>
          <md-table-cell md-label="Enabled" md-sort-by="enabled">
            <md-switch
              :disabled="!(user && user.role !== 2)"
              v-model="item.enabled"
              class="md-primary"
              :md-ripple="false"
              @change="changeEnabled(item)"
            >
              {{ item.enabled ? "Yes" : "No" }}
            </md-switch></md-table-cell
          >
          <md-table-cell md-label="" class="action-section">
            <div style="display: flex; flex-direction: row; width: 140px;">
              <md-button
                class="md-icon-button edit-icon"
                :md-ripple="false"
                @click="$emit('select-schema', item)"
              >
                <md-icon class="md-primary">edit</md-icon>
              </md-button>
              <md-button
                v-if="user && user.role !== 2"
                class="md-icon-button edit-icon"
                :md-ripple="false"
                @click="triggerDelete(item)"
              >
                <md-icon class="md-accent">delete</md-icon>
              </md-button>
            </div>
          </md-table-cell>
        </md-table-row>
      </template>
    </md-table>
    <md-dialog-prompt
      :md-active.sync="addSchema"
      v-model="addSchemaValue"
      md-title="Create Schema"
      md-input-maxlength="50"
      md-input-placeholder="Schema Name"
      md-confirm-text="Create"
      @md-confirm="createSchema"
    />
    <md-dialog-confirm
      v-if="activeEnableConfirm"
      :md-active.sync="activeEnableConfirm"
      :md-title="
        `Do you want to turn off the '${selectedDisableSchema.name}' scheme?`
      "
      md-content="All the messages sent to the schema will be ignored and won't be stored. <br> Do you want to proceed?"
      md-confirm-text="Yes"
      md-cancel-text="No"
      @md-confirm="switchSchema(false)"
      @md-cancel="selectedDisableSchema.enabled = true"
    />
    <md-dialog-confirm
      v-if="activeDeleteConfirm"
      :md-active.sync="activeDeleteConfirm"
      :md-title="
        `Do you want to delete the '${selectedDeleteSchema.name}' scheme?`
      "
      md-content="All the schema details will be deleted without a way to restore. <br> Do you want to proceed?"
      md-confirm-text="Yes"
      md-cancel-text="No"
      @md-confirm="deleteSchema()"
    />
  </div>
</template>

<script>
export default {
  name: "SchemaList",
  watch: {
    schemas: {
      deep: true,
      handler() {
        this.updateResults();
      }
    }
  },
  data() {
    return {
      search: "",
      addSchema: false,
      searched: [],
      addSchemaValue: "",
      schemas: [],
      selectedSchema: null,
      activeEnableConfirm: false,
      selectedDisableSchema: null,
      activeDeleteConfirm: false,
      selectedDeleteSchema: null,
      user: JSON.parse(localStorage.getItem("user")) || {}
    };
  },
  async created() {
    this.schemas = await this.$api.get({
      url: "/schemas"
    });
  },
  methods: {
    async createSchema(name) {
      await this.$api.post({
        url: "/schemas",
        payload: { name }
      });

      this.schemas = await this.$api.get({
        url: "/schemas"
      });

      this.addSchemaValue = "";
      this.updateResults();
    },
    getArrayValues(array) {
      return array.length ? array.map(x => x.name).join(", ") : "-";
    },
    updateResults() {
      this.searched = this.schemas.filter(x => x.name.includes(this.search));
    },
    changeEnabled(item) {
      this.selectedDisableSchema = item;

      if (!item.enabled) {
        this.activeEnableConfirm = true;
      } else {
        this.switchSchema(true);
      }
    },
    async switchSchema(value) {
      await this.$api.put({
        url: `/schemas/${this.selectedDisableSchema.id}/switch`,
        payload: { enabled: value }
      });

      this.schemas = await this.$api.get({
        url: "/schemas"
      });

      this.updateResults();
    },
    async deleteSchema() {
      await this.$api.delete({
        url: `/schemas/${this.selectedDeleteSchema.id}`
      });

      this.schemas = await this.$api.get({
        url: "/schemas"
      });

      this.updateResults();
    },
    triggerDelete(item) {
      this.selectedDeleteSchema = item;
      this.activeDeleteConfirm = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.schema-list {
  width: 100%;
  height: 100%;
}

.schema-list-card {
  margin: 50px 200px !important;
  padding: 0;

  &__search {
    width: 300px;
    max-width: 400px;
    margin: 0;
  }

  &__add {
    margin-left: 100px;
    width: 100px;
    max-width: 100px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__content {
    margin: 0 24px;
    padding-bottom: 24px;

    &-top {
      &-search {
        display: flex;
        justify-content: left;
        align-items: center;

        &__search {
        }

        &__search-icon {
          font-size: 32px !important;
          margin: 0 12px;
        }
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 24px 0;
    }

    &__empty {
      width: 100%;
      height: 100%;
      max-width: unset;
      margin: auto;
      background: whitesmoke;
    }
  }
}

.action-section {
  width: 140px;
}

.edit-icon {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: none;
}
</style>

<style lang="scss">
.table-row:hover > .action-section > div > div > .edit-icon {
  display: block;
}
</style>
