<template>
  <md-card
    md-with-hover
    class="vue-block"
    :class="{ selected: selected }"
    :style="style"
  >
    <md-content class="header-container md-primary">
      <div class="md-title">
        {{ title || "-" }}
      </div>
    </md-content>
    <md-content class="md-layout rounded-bottom-corners">
      <md-list class="md-dense md-layout-item rounded-bottom-corners">
        <md-button style="margin: 0" :md-ripple="false">
          Inputs
        </md-button>
        <div class="input" v-for="(slot, index) in inputs" :key="index">
          <md-list-item
            class="input-item"
            @click="$emit('select-input', slot.name)"
            :md-ripple="false"
          >
            <span
              :ref="'input-' + slot.name"
              class="connector connector--left"
              @mouseup="slotMouseUp($event, slot.name)"
              @mousedown="slotBreak($event, slot.name)"
              :class="{ active: slot.links && slot.links.length }"
            />
            <div
              class="md-list-item-text md-list-item-text--left rounded-bottom-corners"
            >
              {{ slot.name }}
            </div>
          </md-list-item>
        </div>
      </md-list>
      <md-list class="md-dense md-layout-item rounded-bottom-corners">
        <md-button style="margin: 0" :md-ripple="false">
          Outputs
        </md-button>
        <div class="output" v-for="(slot, index) in outputs" :key="index">
          <md-list-item
            @click="$emit('select-output', slot.name)"
            :md-ripple="false"
          >
            <div class="md-list-item-text md-list-item-text--right">
              {{ slot.name }}
            </div>
            <span
              :ref="'output-' + slot.name"
              class="connector connector--right"
              :class="{ active: slot.links.length || linkIndex === index }"
              @mousedown="slotMouseDown($event, index)"
            />
          </md-list-item>
        </div>
      </md-list>
    </md-content>
  </md-card>
</template>

<script>
export default {
  name: "VueBlock",
  props: {
    x: {
      type: Number,
      default: 0,
      validator(val) {
        return typeof val === "number";
      }
    },
    y: {
      type: Number,
      default: 0,
      validator(val) {
        return typeof val === "number";
      }
    },
    selected: Boolean,
    title: {
      type: String,
      default: "Title"
    },
    inputs: Array,
    outputs: Array,

    options: {
      type: Object
    }
  },
  created() {
    this.mouseX = 0;
    this.mouseY = 0;

    this.lastMouseX = 0;
    this.lastMouseY = 0;

    this.linking = false;
    this.dragging = false;
  },
  mounted() {
    document.documentElement.addEventListener(
      "mousemove",
      this.handleMove,
      true
    );
    document.documentElement.addEventListener(
      "mousedown",
      this.handleDown,
      true
    );
    document.documentElement.addEventListener("mouseup", this.handleUp, true);

    this.calculateInputPositions();
  },
  beforeDestroy() {
    document.documentElement.removeEventListener(
      "mousemove",
      this.handleMove,
      true
    );
    document.documentElement.removeEventListener(
      "mousedown",
      this.handleDown,
      true
    );
    document.documentElement.removeEventListener(
      "mouseup",
      this.handleUp,
      true
    );
  },
  data() {
    return {
      hasDragged: false,
      linkIndex: -1
    };
  },
  methods: {
    handleMove(e) {
      this.mouseX = e.pageX || e.clientX + document.documentElement.scrollLeft;
      this.mouseY = e.pageY || e.clientY + document.documentElement.scrollTop;

      if (this.dragging && !this.linking) {
        const diffX = this.mouseX - this.lastMouseX;
        const diffY = this.mouseY - this.lastMouseY;

        this.lastMouseX = this.mouseX;
        this.lastMouseY = this.mouseY;

        this.moveWithDiff(diffX, diffY);

        this.hasDragged = true;
      }
    },
    handleDown(e) {
      this.mouseX = e.pageX || e.clientX + document.documentElement.scrollLeft;
      this.mouseY = e.pageY || e.clientY + document.documentElement.scrollTop;

      this.lastMouseX = this.mouseX;
      this.lastMouseY = this.mouseY;

      const target = e.target || e.srcElement;
      if (this.$el.contains(target) && e.which === 1) {
        this.dragging = true;

        this.$emit("select");
        this.$emit("dragging", true);

        if (e.preventDefault) e.preventDefault();
      }
    },
    handleUp() {
      if (this.dragging) {
        this.dragging = false;
        this.$emit("dragging", false);

        if (this.hasDragged) {
          this.hasDragged = false;
        }
      }

      if (this.linking) {
        this.linking = false;
        this.linkIndex = -1;
      }
    },
    // Slots
    slotMouseDown(e, index) {
      this.linking = true;
      this.linkIndex = index;

      const targetPosition = e.target.getBoundingClientRect();
      const blockPosition = this.$el.getBoundingClientRect();

      const position = {
        x:
          this.x +
          targetPosition.x -
          blockPosition.x +
          targetPosition.width / 2,
        y:
          this.y +
          targetPosition.y -
          blockPosition.y +
          targetPosition.height / 2
      };

      this.$emit("linkingStart", { index, position });
      this.$emit("dragging", false);
      if (e.preventDefault) e.preventDefault();
    },
    slotMouseUp(e, name) {
      this.$emit("linkingStop", name);
      if (e.preventDefault) e.preventDefault();
    },
    slotBreak(e, name) {
      this.linking = true;

      this.$emit("linkingBreak", name);
      if (e.preventDefault) e.preventDefault();
    },
    save() {
      this.$emit("update");
    },
    deleteBlock() {
      this.$emit("delete");
    },
    moveWithDiff(diffX, diffY) {
      const left = this.x + diffX / this.options.scale;
      const top = this.y + diffY / this.options.scale;

      const blockPosition = this.$el.getBoundingClientRect();

      if (
        top + this.options.center.y > 0 &&
        top + this.options.center.y + blockPosition.height < 2000
      ) {
        this.$emit("update:y", top);
      }

      if (
        left + this.options.center.x > 0 &&
        left + this.options.center.x + blockPosition.width < 2000
      ) {
        this.$emit("update:x", left);
      }
    },
    async calculateInputPositions() {
      const _context = this;
      await this.$nextTick();
      const blockPosition = _context.$el.getBoundingClientRect();
      this.inputs.forEach(el => {
        const refElement = _context.$refs["input-" + el.name];
        const targetPosition = refElement[0].getBoundingClientRect();

        el.position.x = _context.x + targetPosition.x - blockPosition.x;
        el.position.y =
          _context.y +
          targetPosition.y -
          blockPosition.y +
          targetPosition.height / 2;
      });

      this.outputs.forEach(el => {
        const refElement = _context.$refs["output-" + el.name];
        const targetPosition = refElement[0].getBoundingClientRect();

        el.position.x = _context.x + targetPosition.x - blockPosition.x;
        el.position.y =
          _context.y +
          targetPosition.y -
          blockPosition.y +
          targetPosition.height / 2;
      });
    }
  },
  computed: {
    style() {
      return {
        top: `${this.options.center.y + this.y}px`,
        left: `${this.options.center.x + this.x}px`,
        transformOrigin: "top left"
      };
    }
  },
  watch: {
    x() {
      this.calculateInputPositions();
    },
    y() {
      this.calculateInputPositions();
    }
  }
};
</script>

<style lang="scss">
div > .md-list.md-dense .md-list-item-content {
  .input-item {
    margin-left: -15px;
    min-height: 20px;
    padding: 4px 8px;
  }

  .output-item {
    margin-right: -15px;
    min-height: 20px;
    padding: 4px 8px;
  }
}

.md-layout-item + .md-layout-item {
  border-left: 2px solid var(--md-theme-default-divider, rgba(0, 0, 0, 0.12));
  border-bottom-left-radius: 0 !important;
}

.md-ripple.md-list-item-content {
  overflow: visible;
  -webkit-mask-image: none;
}

.md-list.md-dense .md-list-item-text {
  overflow: visible;
  white-space: normal;
}

.md-content > .md-list.md-dense {
  padding: 0;
}

.md-list.md-theme-default .md-list-item-container {
  overflow: visible;
}

.md-list-item-text.md-list-item-text--left,
.md-list-item-text.md-list-item-text--right {
  font-size: 16px;
  display: block;
}

.md-list-item-text {
  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.md-subheader--right {
  align-self: flex-end;
}
</style>

<style lang="scss" scoped>
$blockBorder: 2px;

$ioPaddingInner: 2px 0;
$ioHeight: 16px;
$ioFontSize: 14px;

$circleBorder: 2px;
$circleSize: 10px;
$circleMargin: 2px; // left/right

$circleNewColor: #00ff00;
$circleRemoveColor: #ff0000;
$circleConnectedColor: #ffff00;

.md-card.vue-block {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  border: $blockBorder solid rgba(0, 0, 0, 0.6);
  background: white;
  z-index: 3;
  opacity: 0.9;
  cursor: move;
  min-width: 200px;
  border-radius: 15px;

  &.selected {
    border: $blockBorder solid red;
    z-index: 4;
  }

  .header-container {
    border-radius: 14px 14px 0 0;

    .md-title {
      text-align: center;
    }
  }

  .rounded-bottom-corners {
    border-radius: 0 0 14px 14px;
  }

  .input,
  .output {
    border-top: 2px solid var(--md-theme-default-divider, rgba(0, 0, 0, 0.12));
  }

  .inputs,
  .outputs {
    display: block;
    width: 50%;
  }

  .connector {
    position: absolute;
    width: 14px;
    height: 14px;

    border: $circleBorder solid rgba(0, 0, 0, 0.5);
    background: white;
    border-radius: 100%;

    cursor: crosshair;

    &--left {
      left: -7.5px;
    }

    &--right {
      right: -7.5px;
    }

    &.active {
      background: $circleConnectedColor;
    }

    &:hover {
      background: $circleNewColor;

      &.active {
        background: $circleRemoveColor;
      }
    }
  }
}
</style>
