<template>
  <div v-if="selectedBlock">
    <md-toolbar :md-elevation="1" class="md-dense">
      <span class="md-title">
        {{ selectedBlock.title }}
      </span>
    </md-toolbar>
    <md-list class="md-dense">
      <md-list-item md-expand :md-ripple="false">
        <md-icon>arrow_forward</md-icon>
        <span class="md-list-item-text">Inputs</span>

        <md-list slot="md-expand">
          <template v-if="selectedBlock.inputs.length">
            <md-list-item
              v-for="input in selectedBlock.inputs"
              :key="'input-' + input.name"
              @click="
                () => {
                  showDialog = true;
                  onInputChange(input.name);
                  tab = 'inputs';
                }
              "
              :md-ripple="false"
              >{{ input.name }}
            </md-list-item>
          </template>
          <md-list-item v-else>
            No Inputs
          </md-list-item>
        </md-list>
      </md-list-item>

      <md-list-item md-expand :md-ripple="false">
        <md-icon>arrow_back</md-icon>
        <span class="md-list-item-text">Outputs</span>

        <md-list slot="md-expand">
          <template v-if="selectedBlock.outputs.length">
            <md-list-item
              v-for="output in selectedBlock.outputs"
              :key="'output-' + output.name"
              @click="
                () => {
                  showDialog = true;
                  onOutputChange(output.name);
                  tab = 'outputs';
                }
              "
              :md-ripple="false"
              >{{ output.name }}
            </md-list-item>
          </template>
          <md-list-item v-else>
            No Outputs
          </md-list-item>
        </md-list>
      </md-list-item>
    </md-list>
    <md-dialog :md-active.sync="showDialog">
      <md-dialog-content class="md-scrollbar" style="max-width: 790px">
        <md-dialog-title
          >Selected Service: {{ selectedBlock.title }}</md-dialog-title
        >
        <md-tabs
          md-alignment="centered"
          style="margin-top: 12px;"
          :md-active-tab="tab"
        >
          <md-tab md-label="Inputs" class="inputs" id="inputs">
            <md-field>
              <label :for="'inputselection'">Input Selection</label>
              <md-select
                v-model="selectedInputName"
                name="inputselection"
                id="inputselection"
                @md-selected="onInputChange(selectedInputName)"
              >
                <md-option
                  v-for="input in selectedBlock.inputs"
                  :key="'modal-input-' + input.name"
                  v-bind:value="input.name"
                  >{{ input.name }}</md-option
                >
              </md-select>
            </md-field>
            <template v-if="selectedInput">
              <div class="details">
                <span class="md-title">Connection Details</span>
                <span class="md-subheading"
                  >Input URL and API keys that will be triggered when related
                  output is triggered. Can be modified in service
                  settings.</span
                >
                <div class="field" style="margin-top: 12px">
                  <md-field class="f-input-block">
                    <md-icon>public</md-icon>
                    <label>Input URL</label>
                    <md-textarea
                      type="text"
                      :value="inputUrl"
                      class="f-input"
                      placeholder="Input URL"
                      disabled
                      md-autogrow
                    />
                  </md-field>
                </div>
                <div class="field">
                  <md-field class="f-input-block" md-toggle-password>
                    <md-icon>https</md-icon>
                    <label>API Key</label>
                    <md-input
                      type="password"
                      v-model="selectedInput.apiKey"
                      class="f-input"
                      placeholder="API Key"
                      disabled
                    />
                  </md-field>
                </div>
                <div v-if="selectedInput.payloadEnabled">
                  <span class="md-title">Payload format</span>
                  <div style="margin-top: 16px">
                    <vue-json-pretty
                      :data="selectedInput.parsedPayload || {}"
                    />
                  </div>
                </div>
              </div>
            </template>
          </md-tab>

          <md-tab md-label="Outputs" id="outputs">
            <md-field>
              <label :for="'outputselection'">Output Selection</label>
              <md-select
                v-model="selectedOutputName"
                name="outputselection"
                id="outputselection"
                @md-selected="onOutputChange(selectedOutputName)"
              >
                <md-option
                  v-for="output in selectedBlock.outputs"
                  :key="'modal-input-' + output.name"
                  v-bind:value="output.name"
                  >{{ output.name }}</md-option
                >
              </md-select>
            </md-field>
            <template v-if="selectedOutput">
              <div class="details">
                <span class="md-title">Connection Details</span>
                <span class="md-subheading"
                  >Output URL and API keys are used for triggering the
                  event.</span
                >
                <div class="field" style="margin-top: 12px">
                  <md-field class="f-input-block">
                    <md-icon>public</md-icon>
                    <label>Input URL</label>
                    <md-textarea
                      type="text"
                      :value="outputUrl"
                      class="f-input"
                      placeholder="Input URL"
                      disabled
                      md-autogrow
                    />
                  </md-field>
                </div>
                <div class="field">
                  <md-field class="f-input-block" md-toggle-password>
                    <md-icon>https</md-icon>
                    <label>API Key</label>
                    <md-input
                      type="password"
                      v-model="selectedOutput.data.apiKey"
                      class="f-input"
                      placeholder="API Key"
                      disabled
                    />
                  </md-field>
                  <md-button
                    v-if="user && user.role !== 2"
                    :md-ripple="false"
                    class="field-button"
                    @click="selectedOutput.data.apiKey = ''"
                  >
                    <md-icon class="md-secondary">clear</md-icon>
                  </md-button>
                  <md-button
                    v-if="user && user.role !== 2"
                    :md-ripple="false"
                    class="field-button"
                    @click="
                      selectedOutput.data.apiKey = generateRandomString(64)
                    "
                  >
                    <md-icon class="md-primary">refresh</md-icon>
                  </md-button>
                </div>
                <div v-if="selectedOutput.payloadEnabled">
                  <span class="md-title">Payload format</span>
                  <div style="margin-top: 16px">
                    <vue-json-pretty
                      :data="selectedOutput.parsedPayload || {}"
                    />
                  </div>
                </div>
              </div>
            </template>
          </md-tab>
        </md-tabs>
      </md-dialog-content>
    </md-dialog>
  </div>
</template>
<script>
import VueJsonPretty from "vue-json-pretty";

export default {
  name: "BlockDetails",
  components: {
    VueJsonPretty
  },
  props: {
    selectedBlock: {},
    clickedInputName: {},
    clickedOutputName: {}
  },
  watch: {
    clickedInputName() {
      if (this.clickedInputName) {
        this.tab = "inputs";
        this.onInputChange(this.clickedInputName);
        this.showDialog = true;
        this.$emit("update:clickedInputName", null);

        this.selectedOutput = null;
        this.selectedOutputName = null;
      }
    },
    clickedOutputName() {
      if (this.clickedOutputName) {
        this.tab = "outputs";
        this.onOutputChange(this.clickedOutputName);
        this.showDialog = true;
        this.$emit("update:clickedOutputName", null);

        this.selectedInput = null;
        this.selectedInputName = null;
      }
    }
  },
  computed: {
    inputUrl() {
      return this.selectedInput.url;
    },
    outputUrl() {
      return `${process.env.VUE_APP_API_URL}/events${this.selectedOutput &&
        this.selectedOutput.data.url}`;
    }
  },
  data() {
    return {
      showDialog: false,
      selectedInputName: null,
      selectedOutputName: null,
      selectedInput: null,
      selectedOutput: null,
      tab: "inputs",
      user: JSON.parse(localStorage.getItem("user")) || {}
    };
  },
  methods: {
    onInputChange(value) {
      this.selectedInput = this.selectedBlock.inputs.find(
        x => x.name === value
      );
      this.selectedInputName = value;
    },
    onOutputChange(value) {
      this.selectedOutput = this.selectedBlock.outputs.find(
        x => x.name === value
      );
      this.selectedOutputName = value;
    },
    generateRandomString(length) {
      let text = "";

      const symbols =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (let i = 0; i < length; i++) {
        text += symbols.charAt(Math.floor(Math.random() * symbols.length));
      }
      return text;
    }
  }
};
</script>

<style lang="scss" scoped>
.payload-content {
  padding: 20px;
}

.spacing-bottom {
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.field-button {
  min-width: 50px;
  width: 50px;
}
</style>
