<template>
  <div class="page-container">
    <notifications group="main" position="top center" />
    <template
      v-if="
        this.$route.name === 'Login' || this.$route.name === 'Login redirected'
      "
    >
      <router-view />
    </template>
    <md-app v-else class="df-app-container" md-mode="reveal">
      <md-app-toolbar md-elevation="2" style="z-index: 100">
        <div
          style="display: flex; flex-direction: row; justify-content: flex-end; margin-right: 120px; width: inherit;"
        >
          <md-menu md-size="medium">
            <md-icon md-menu-trigger class="user-menu">person</md-icon>
            <md-menu-content style="padding: 0;">
              <div
                style="padding: 12px; display: flex; flex-direction: column; background-color: whitesmoke"
              >
                <div>
                  <span class="md-title">{{ user.name }}</span>
                </div>
                <div>
                  <span class="md-body-1">{{ user.email }}</span>
                </div>
                <div style="padding-top: 8px">
                  <span class="md-caption">{{
                    user.role === 1 ? "Admin" : "Read-only user"
                  }}</span>
                </div>
              </div>
              <md-list class="md-dense" style="padding: 0">
                <md-list-item @click="logOut" :md-ripple="false"
                  >Log out</md-list-item
                >
              </md-list>
            </md-menu-content>
          </md-menu>
        </div>
      </md-app-toolbar>
      <md-app-drawer md-persistent="mini" class="md-elevation-2">
        <md-toolbar class="md-transparent" md-elevation="0">
          <span>Navigation</span>

          <div class="md-toolbar-section-end">
            <md-button
              class="md-icon-button md-dense"
              @click="
                () => {
                  drawer = !drawer;
                }
              "
            >
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-list dense>
          <md-list-item class="logo md-elevation-2">
            <span class="logo-text">Data flow</span>
          </md-list-item>

          <md-list-item to="/connections" :md-ripple="false" exact>
            <md-icon>account_tree</md-icon>
            <span class="md-list-item-text">Connections</span>
          </md-list-item>

          <md-list-item to="/services" :md-ripple="false" exact>
            <md-icon>add_to_queue</md-icon>
            <span class="md-list-item-text">Services</span>
          </md-list-item>

          <md-list-item
            v-if="user.role === 1"
            to="/users"
            :md-ripple="false"
            exact
          >
            <md-icon>person</md-icon>
            <span class="md-list-item-text">Users</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <router-view />
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
export default {
  name: "App",
  watch: {
    $route() {
      this.user = JSON.parse(localStorage.getItem("user")) || {};
    }
  },
  data: () => ({
    drawer: null,
    user: JSON.parse(localStorage.getItem("user")) || {}
  }),
  methods: {
    logOut() {
      this.$auth.logOut();
    }
  }
};
</script>

<style lang="scss">
@import "./assets/styles/theme";

body {
  .df-app-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
</style>

<style lang="scss">
.md-app > .md-app-container {
  height: 100%;
  display: contents;
}

.md-app-container > .md-app-toolbar {
  margin-left: 100px;
  background-color: white;
}

.md-list-item-router > .md-list-item-content {
  padding: 12px !important;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.route-active > .md-list-item-content > .md-icon,
.route-active > .md-list-item-content > .md-list-item-text {
  color: #84dcc6;
}

.route-active {
  background: rgba(0, 0, 0, 0.04) !important;
}

.md-list-item-router > .md-list-item-content > .md-icon {
  width: 32px;
  max-width: 32px;
  height: 32px;
  max-height: 32px;
  margin: 0 !important;
  font-size: 32px !important;
}

.md-menu > .user-menu.md-icon {
  width: 32px;
  max-width: 32px;
  height: 32px;
  max-height: 32px;
  font-size: 32px !important;
}

.md-app-container > .md-toolbar {
  z-index: 8;
}

.md-app-scroller > .md-content {
  padding: 0;
}

.md-app-drawer > .md-list {
  padding-top: 0;
}

.md-list-item-router > .md-list-item-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 0 !important;
}

.md-app > .md-app-drawer.md-persistent-mini:not(.md-active) {
  z-index: 11 !important;
  max-width: 250px;
  width: 100px !important;
  margin-top: -64px;
}

.md-content > .md-overlay {
  display: none;
}
.page-container ~ .md-overlay {
  display: none;
}
.page-container {
  height: 100%;
  width: 100%;
  position: absolute;
}
.page-container ~ .md-dialog-overlay {
  display: block;
}

.logo > .md-list-item-default > .md-list-item-content {
  height: 64px;
  padding: 12px !important;
}

.logo-text {
  font-size: 18px;
  font-weight: 600;
}

.md-menu-content-container > .md-list {
  padding: 0;
}

.md-dialog.md-dialog-fullscreen.md-theme-default {
  max-width: 60%;
}

.md-dialog-content,
.md-dialog-container {
  width: 100%;
}

.md-tabs {
  width: 100%;
  overflow-x: auto;
}

.md-tabs-navigation {
  width: fit-content;
}
</style>
